<div class="banner-wrapper">
  <div class="innerbannerZenith">
    <div class="main-wrapper-fixed">
      <div class="innerImageBanner zenithInnerImageBanner">
        <div class="innerTextDiv">
          <div class="InnerBoxContainer">
            <div class="innerTextDivRow">
              Veitch Lister Consulting,
            </div>
            <div class="innerTextDivRow">
              Independence, Excellence &amp; Innovation.
            </div>
          </div>
        </div>
        <div class="InnerzenithLogo">
          <img title="Zenith" alt="Zenith Logo" src="../../../assets/zenith3.png" />
        </div>
      </div>
    </div>
  </div>
</div>
