



<div class="mainContent-wrapper">
  <div class="main-wrapper-fixed contentwrapper">
    <div class="contentfulll">
      <div class="right-menu-toggle">
        <a href="javascript:void(0)" class="closed-view"><img src="../../assets/slide_menu.png" alt="Slide Menu" /><span>Open Side Menu</span>
        </a>
      </div>
      <div class="contentsection">
        <div class="breadcrumbs_menu newbreadcrumbs"></div>

        <div class="UpperContentSection">
          <div class="contentheading">Road Development Contribution Assessments</div>
          <div class="pragraph">A feature of recent years has been an increasing demand for publicly provided infrastructure, coinciding with the shrinking ability of Government to fund improvements.</div>
          <div class="leftrightContainer">



            <div class="fullheadersection">
              <div class="headerSectionPart">
                <img src="../../assets/headericon.jpg" alt="Icon" />
                <p>Response to Needs</p>
              </div>
            </div>
            <div class="contentHeaderSection contentheaderpadding">
              <p>The result for many road authorities and local governments has been infrastructure programs that are unable to match the combination of growth and existing asset consumption.  In response many agencies have resorted to conditional development consents with impact fees for infrastructure.</p>
            </div>



            <div class="fullheadersection">
              <div class="headerSectionPart">
                <img src="../../assets/headericon.jpg" alt="Icon" />
                <p>Road Development History</p>
              </div>
            </div>
            <div class="contentHeaderSection contentheaderpadding">
              <p>Since 1989, staff of VLC have been working closely with state and local governments in Australia, to develop an approach to road development contributions that is both logical and practical. </p>
              <p>Our approach involves identifying where spare capacity exists or is required in the road system and then assessing where a new development will use this capacity and what extra public investment is needed.</p>
            </div>



            <div class="fullheadersection">
              <div class="headerSectionPart">
                <img src="../../assets/headericon.jpg" alt="Icon" />
                <p>Benefits of VLC’s Approach</p>
              </div>
            </div>
            <div class="contentHeaderSection contentheaderpadding">
              <ul class="ullist">
                <li><span>It reflects the true relationship between development, road usage and the impacts on road capacity</span>
                </li>
                <li><span>It can result in more efficient land use-transport development and efficient resources usage</span>
                </li>
                <li><span>It highlights cross subsidy issues</span>
                </li>
                <li><span>It differentiates between equal pricing and true equity</span>
                </li>
              </ul>
            </div>


          </div>



        </div>


      </div>
      <div class="right_content_old">
        <div class="sidebarmenu BorderNone">
          <div class="sidebarmenuheading">
            <h1>Projects</h1>
          </div>
          <div class="imagecontainer BorderNone">
            <div class="headerImage" onclick="location.href='/services/projects/roaddevelopment';">
              <a href="/services/projects/roaddevelopment"><img alt="test" src="../../assets/no_imageSmall.jpg" /></a>
            </div>
            <div class="headerImage" onclick="location.href='/services/projects/roaddevelopment';">
              <a href="/services/projects/roaddevelopment"><img alt="test" src="../../assets/no_imageSmall.jpg" /></a>
            </div>
            <div class="headerImage" onclick="location.href='/services/projects/roaddevelopment';">
              <a href="/services/projects/roaddevelopment"><img alt="test" src="../../assets/no_imageSmall.jpg" /></a>
            </div>
            <div class="headerImage additionalimage" onclick="location.href='/services/projects/roaddevelopment';">
              <a href="/services/projects/roaddevelopment"></a>
            </div>
          </div>

        </div>
      </div>
      <div class="sidebaright">

        <div class="right_content_ner">
          <input name="page-referance" value="Road Development Contribution Assessments" type="hidden" />
        </div>

      </div>
    </div>
  </div>
</div>

