<div class="banner-wrapper">
  <div class="innerbanner"> </div>
</div>

<div class="mainContent-wrapper">
  <div class="main-wrapper-fixed contentwrapper">
    <div class="contentfulll">
      <div class="right-menu-toggle">
        <a href="javascript:void(0)" class="closed-view"><img src="../../assets/slide_menu.png" alt="Slide Menu" /><span>Open Side Menu</span>
        </a>
      </div>
      <div class="contentsection">
        <div class="breadcrumbs_menu">
          <ul class="breadcrumbul">
            <li><a href="/">Home</a>
            </li>
            <li><a href="/services">Consulting Services</a>
            </li>
            <li><a href="/services/forecasting">Demand Forecasting</a>
            </li>
            <li><strong>Toll Road Demand Forecasting</strong>
            </li>
          </ul>

          <hr class="horizontalLine" />
        </div>
        <div class="UpperContentSection BorderNone">
          <div class="contentheading">Toll Road Demand Forecasting</div>
          <div class="leftrightContainer">


            <div class="projectContiner">
              <div class="headerTittle">East West Link <span>Melbourne, VIC</span>
              </div>
              <div class="headerImage bwWrapper projectImg" data-reveal-id="myModal" data-animation="fade">
                <a href="#"><img src="../../assets/projects-big28.jpg" alt="test" /></a>
              </div>
              <div class="thumbhover">
                <p>VLC were commissioned in 2008 by the Linking Melbourne Authority (then the Southern and Eastern Integrated Transport Authority)</p>
              </div>
            </div>

            <div class="projectContiner">
              <div class="headerTittle">East Link <span>Melbourne, VIC</span>
              </div>
              <div class="headerImage bwWrapper projectImg" data-reveal-id="myModal2" data-animation="fade">
                <a href="#"><img src="../../assets/projects-big29.jpg" alt="test" /></a>
              </div>
              <div class="thumbhover">
                <p>VLC first became involved in the EastLink project during the 1990s when it was known as the Scoresby Freeway.</p>
              </div>
            </div>

            <div class="projectContiner">
              <div class="headerTittle">City Link <span>Melbourne, VIC</span>
              </div>
              <div class="headerImage bwWrapper projectImg" data-reveal-id="myModal3" data-animation="fade">
                <a href="#"><img src="../../assets/projects-big32.jpg" alt="test" /></a>
              </div>
              <div class="thumbhover">
                <p>VLC was requested at an early stage of the CityLink tendering process to not associate</p>
              </div>
            </div>

            <div class="projectContiner">
              <div class="headerTittle">Cross-City Tunnel <span>Sydney, NSW</span>
              </div>
              <div class="headerImage bwWrapper projectImg" data-reveal-id="myModal4" data-animation="fade">
                <a href="#"><img src="../../assets/projects-big31.jpg" alt="test" /></a>
              </div>
              <div class="thumbhover">
                <p>In early 2005, about 6 months prior to the opening of the Cross-City Tunnel, VLC was engaged by the Australian Outdoor Media Association</p>
              </div>


            </div>

            <div class="projectContiner">
              <div class="headerTittle">Lane Cove Tunnel <span>Sydney, NSW</span>
              </div>
              <div class="headerImage bwWrapper projectImg" data-reveal-id="myModal5" data-animation="fade">
                <a href="#"><img src="../../assets/projects-big23.jpg" alt="test" /></a>
              </div>
              <div class="thumbhover">
                <p>In 2005, VLC was commissioned to perform an audit role for one of the bidders for the Lane Cove Tunnel project.</p>
              </div>


            </div>

          </div>
          <div class="bottomContentSection">
            <div class="backnext">

              <a class="whats-orange" href="javascript:void(0)">&gt;&gt;</a>
              <a class="more-gray" href="javascript:void(0)">back </a>
            </div>
          </div>


        </div>


      </div>
      <div class="sidebaright">

        <div class="sidebarmenu">
          <div class="sidebarmenuheading">
            <h1>Consulting Services</h1>
          </div>
          <div class="sidebarmenutypes">
            <a class="active" href="/services">Overview</a>
          </div>
          <div class="sidebarmenutypes activesidebarmenu marginBottomZero">
            <a href="/services/forecasting">Demand Forecasting</a>
          </div>
          <div class="sidebarmenutypes activesidebarmenu marginBottomZero subSideMenu activesubSidemenu">
            <a href="/services/forecasting/tollroaddemand">Toll Road Demand Forecasting</a>
          </div>
          <div class="sidebarmenutypes activesidebarmenu marginBottomZero subSideMenu">
            <a href="/services/forecasting/publictransportdemand">Public Transport Demand Forecasting</a>
          </div>
          <div class="sidebarmenutypes activesidebarmenu marginBottomZero subSideMenu">
            <a href="/services/forecasting/multimodaldemand">Multi-modal Travel Demand Forecasting</a>
          </div>
          <div class="sidebarmenutypes activesidebarmenu  subSideMenu">
            <a href="/services/forecasting/microsimulation">Microsimulation Modelling</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="/services/planning">Transport Planning</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="/services/landuse">Land Use &amp; Demographic Forecasting</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="/services/other">Other Services</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popupopen reveal-modal" id="myModal">
  <a class="close-reveal-modal">×</a>
  <div class="Innerpopupopen">
    <div class="projectInformation">

      <div class="ContentImage">
        <img alt="test" src="../../assets/project01.jpg" />
      </div>
      <div class="ContentDetail">
        <div class="clientRow">
          <div class="Client">
            Client
          </div>
          <div class="Clientname">
            Linking Melbourne Authority
          </div>
        </div>
        <div class="clientRow">
          <div class="Client">
            Link
          </div>
          <div class="Clientname">
            <a target="_blank" href="http://www.linkingmelbourne.vic.gov.au/pages/east-west-link.asp">Linking Melbourne Authority East West Link</a>
          </div>
        </div>
      </div>

      <div class="headerTittle">
        East West Link
        <span>Melbourne, VIC</span>
      </div>
      <div class="projectDetail">
        <p>VLC were commissioned in 2008 by the Linking Melbourne Authority (then the Southern and Eastern Integrated Transport Authority) to examine transport network options to increase the east-west capacity of the transport network to the immediate north of the Melbourne CBD. The firm produced travel forecasts for these various options. This has involved the testing of a wide range of future scenarios and the provision of model outputs to facilitate economic evaluation. As a part of this work, VLC upgraded previous standard consumer surplus evaluation data to include benefits such as agglomeration, labour supply, reliability, resource cost corrections and toll road revenue.&#160;This work provided direct input to Sir Rod Eddington's report to the Victorian State Government.</p>
        <p>One of the options analysed was a 16 kilometre arterial road connecting the Eastern Freeway with the Western Ring Road in the vicinity of its interchange with the Deer Park Bypass.</p>
        <p>The Linking Melbourne Authority has recently reengaged VLC to examine further, less ambitious options for improving road capacity to the north of Melbourne's CBD. This work also addresses potential toll revenues.&#160;</p>
        <p>Work on this project, as well as the Zenith model, was subjected to a rigorous peer review process lead by international toll road expert Robert Bain of RBConsult.</p>
      </div>

    </div>

    <div class="bottomContentSection">
      <div class="bottomheader">
        <img alt="Icon" src="../../assets/headericon.jpg" />
        <p>Other Projects</p>
      </div>
      <div class="imagecontainer">
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popupopen reveal-modal" id="myModal2">
  <a class="close-reveal-modal">×</a>
  <div class="Innerpopupopen">
    <div class="projectInformation">

      <div class="ContentImage">
        <img alt="test" src="../../assets/project01.jpg" />
      </div>
      <div class="ContentDetail">
        <div class="clientRow">
          <div class="Client">
            Client
          </div>
          <div class="Clientname">
            Southern and Eastern Integrated Transport Authority
          </div>
        </div>
        <div class="clientRow">
          <div class="Client">
            Links
          </div>
          <div class="Clientname">
            <a target="_blank" href="http://www.linkingmelbourne.vic.gov.au/pages/past-projects-eastlink.asp">Linking Melbourne Authority East Link</a>
          </div>
        </div>
      </div>

      <div class="headerTittle">
        East Link
        <span>Melbourne, VIC</span>
      </div>
      <div class="projectDetail">
        <p>VLC first became involved in the EastLink project during the 1990s when it was known as the Scoresby Freeway. VLC produced travel demand modelling results for three separate studies:</p>
        <ul class="ullist">
          <li><span>Scoresby Corridor/Freeway Feasibility Study</span>
          </li>
          <li><span>Scoresby Corridor Environmental Impact Assessment</span>
          </li>
          <li><span>Scoresby Corridor Integrated Transport Study/Business Planning</span>
          </li>
        </ul>
        <p>The project was not intended to be financed by tolls at this time, and VLC was responsible for justifying the project purely on economic grounds.</p>
        <p>VLC was again engaged in the early 2000s when the Victorian State Government began exploring the possibility of delivering EastLink by a PPP mechanism with tolls. This work involved the production of traffic and revenue forecasts for different project configurations, tolling strategies and toll levels. This included undertaking extensive 'revealed preference surveys' in 2003 that explored how route choice was being influenced by tolls on the already operational CityLink toll road. VLC used this data to calibrate state-of-the art toll diversion curves that forecast the degree to which people in Melbourne will avoid taking a toll under differing time saving/toll charge scenarios.</p>
        <p>This results of this work suggested that a viable PPP project could be put to market. The EastLink toll road opened in 2008 and continues to operate successfully. VLC's traffic and toll revenue forecasts for EastLink were only 1 per cent higher than demand that eventuated after ramp up. The bidders' forecasts were 30 per cent higher than actual.</p>
        <p>The toll diversion relationships developed by VLC for EastLink have since been used to closely predict traffic and toll revenue for both the Cross-City Tunnel and Lane Cove Tunnel in Sydney, and Airport Link and the Clem7 tunnel in Brisbane.</p>
      </div>

    </div>

    <div class="bottomContentSection">
      <div class="bottomheader">
        <img alt="Icon" src="../../assets/headericon.jpg" />
        <p>Other Projects</p>
      </div>
      <div class="imagecontainer">
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popupopen reveal-modal" id="myModal3">
  <a class="close-reveal-modal">×</a>
  <div class="Innerpopupopen">
    <div class="projectInformation">

      <div class="ContentImage">
        <img alt="test" src="../../assets/project01.jpg" />
      </div>
      <div class="ContentDetail">
        <div class="clientRow">
          <div class="Client">
            Client
          </div>
          <div class="Clientname">
            Melbourne CityLink Authority
          </div>
        </div>
        <div class="clientRow">
          <div class="Client">
            Link
          </div>
          <div class="Clientname">
            <a target="_blank" href="http://www.vicroads.vic.gov.au/Home/Moreinfoandservices/RoadManagementAndDesign/TypesOfRoads/CityLink/">VicRoads CityLink</a>
          </div>
        </div>
      </div>

      <div class="headerTittle">
        CityLink
        <span>Melbourne, VLC</span>
      </div>
      <div class="projectDetail">
        <p>VLC was requested at an early stage of the CityLink tendering process to not associate with either of the bidding consortia so that the firm could provide an independent assessment of the demand and revenue impacts of the project to the Victorian Government via the Melbourne CityLink Authority. The analysis involved the use of VLC's Zenith model to determine travel demand on CityLink and the revenue likely under different toll regimes.</p>
        <p>The CityLink operator's contract with the Government makes provision for compensation in the case of any Material Adverse Effect on the operator resulting from Government action (such as new roads, traffic management measures and new public transport services ). VLC is retained on a permanent basis to advise Government and its legal experts on the legitimacy of MAE claims by the operator.</p>
      </div>

    </div>

    <div class="bottomContentSection">
      <div class="bottomheader">
        <img alt="Icon" src="../../assets/headericon.jpg" />
        <p>Other Projects</p>
      </div>
      <div class="imagecontainer">
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popupopen reveal-modal" id="myModal4">
  <a class="close-reveal-modal">×</a>
  <div class="Innerpopupopen">
    <div class="projectInformation">

      <div class="ContentImage">
        <img alt="test" src="../../assets/project01.jpg" />
      </div>
      <div class="ContentDetail">
        <div class="clientRow">
          <div class="Client">
            Client
          </div>
          <div class="Clientname">
            Australian Outdoor Media Association
          </div>
        </div>
        <div class="clientRow">
          <div class="Client">
            Links
          </div>
          <div class="Clientname">
            <a target="_blank" href="http://www.oma.org.au/">Australian Outdoor Media Association</a>
          </div>
        </div>
      </div>

      <div class="headerTittle">
        Cross-City Tunnel
        <span>Sydney, NSW</span>
      </div>
      <div class="projectDetail">
        <p>In early 2005, about 6 months prior to the opening of the Cross-City Tunnel, VLC was engaged by the Australian Outdoor Media Association to estimate traffic demand for the tunnel in the year after its opening.&#160; The Association was concerned that the project's extremely high traffic forecasts of more than 90,000 vehicles per weekday (vpwd) as documented in the project's Environmental Impact Statement &#160;would severely impact on the number of vehicles passing outdoor advertising signs in inner Sydney. They were especially concerned about those billboards located on William Street, which parallels the tunnel.&#160; If the forecasts in the EIS proved to be correct, then the revenue derived from numerous billboards would be compromised.</p>
        <p>VLC's Zenith model forecast that the tunnel would only carry about 30,000 vpwd in its first year of operation, so our advice to the Association was "do not panic - let's see what happens".&#160; VLC's forecasts proved to be very close to the mark.</p>
        <p>In 2010, the new owners of the failed toll tunnel (Cross City Motorways Ltd) engaged VLC to assess the impact on tunnel traffic and toll revenue resulting from the removal of road closures and the narrowing of William Street (road capacity restraint measures that had been agreed with the Government).</p>
        <p>VLC's assessment of toll revenue loss to the company was submitted to the RTA for their consideration.&#160; Negotiations continue between the RTA and Cross City Motorways.</p>
      </div>

    </div>

    <div class="bottomContentSection">
      <div class="bottomheader">
        <img alt="Icon" src="../../assets/headericon.jpg" />
        <p>Other Projects</p>
      </div>
      <div class="imagecontainer">
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popupopen reveal-modal" id="myModal5">
  <a class="close-reveal-modal">×</a>
  <div class="Innerpopupopen">
    <div class="projectInformation">

      <div class="ContentImage">
        <img alt="test" src="../../assets/project01.jpg" />
      </div>
      <div class="ContentDetail">
        <div class="clientRow">
          <div class="Client">
            Client
          </div>
          <div class="Clientname">
            Project Bidder Committee comprising <br /> major banks including ANZ, CBA, <br /> Citybank and Westpac
          </div>
        </div>
        <div class="clientRow">
          <div class="Client">
            Link
          </div>
          <div class="Clientname">

          </div>
        </div>
      </div>

      <div class="headerTittle">
        Lane Cove Tunnel
        <span>Sydney, NSW</span>
      </div>
      <div class="projectDetail">
        <p>In 2005, VLC was commissioned to perform an audit role for one of the bidders for the Lane Cove Tunnel project.</p>
        <p>Traffic forecasts for the project, as published in the EIS were in excess of 100,000 vehicles per day for 2008. The lead consultants for at least two of the bidders came up with even higher forecasts. One consultant, for example, predicted that 180,000 vehicles would use the tunnel per day by 2021, a physical impossibility.</p>
        <p>VLC, in reporting to a committee comprising of four banks considering taking equity in the project, could not entertain traffic forecasts of this scale. It was VLC's view that even the traffic numbers reported in the EIS were grossly optimistic as Epping Road, the road immediately above the tunnel, was only carrying 65,000 vehicles per day. VLC's advice, which did not require the assistance of modelling, was that the project could only be expected to carry about 60,000 vehicles per day in its early years.</p>
        <p>On opening, the tunnel carried approximately 55,000 vehicles per day. It now carries approximately 65,000 vehicles per day.</p>
        <p>Subsequent to the project experiencing financial difficulties because of low traffic usage, VLC was engaged to produce investment grade forecasts for ABN Amro, enabling them to sell their equity and minimise their losses.</p>
      </div>
    </div>

    <div class="bottomContentSection">
      <div class="bottomheader">
        <img alt="Icon" src="../../assets/headericon.jpg" />
        <p>Other Projects</p>
      </div>
      <div class="imagecontainer">
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>



