

<div class="banner-wrapper">
  <div class="innerbanner"> </div>
</div>





<div class="mainContent-wrapper">
  <div class="main-wrapper-fixed contentwrapper">
    <div class="contentfulll">
      <div class="right-menu-toggle">
        <a href="javascript:void(0)" class="closed-view"><img src="../../assets/slide_menu.png" alt="Slide Menu" /><span>Open Side Menu</span>
        </a>
      </div>
      <div class="contentsection">
        <div class="breadcrumbs_menu">
          <ul class="breadcrumbul">
            <li><a href="/">Home</a>
            </li>
            <li><a href="/services">Consulting Services</a>
            </li>
            <li><a href="/services/foresting">Demand Forecasting</a>
            </li>
            <li><strong>Multi-modal Travel Demand Forecasting</strong>
            </li>
          </ul>

          <hr class="horizontalLine" />
        </div>
        <div class="UpperContentSection BorderNone">
          <div class="contentheading">Multi-modal Travel Demand Forecasting</div>
          <div class="leftrightContainer">


            <div class="projectContiner">
              <div class="headerTittle">Green Bridge Demand <br />Forecasts <br /><span>Brisbane, QLD</span>
              </div>
              <div class="headerImage bwWrapper projectImg" data-reveal-id="myModal" data-animation="fade">
                <a href="#"><img src="../../assets/projects-big26.jpg" alt="test" /></a>
              </div>
              <div class="thumbhover">
                <p>The objective of this study was to forecast the demand for passenger rail services in the Brisbane metropolitan area for 2011</p>
              </div>
            </div>

            <div class="projectContiner">
              <div class="headerTittle">Inner Western Integrated Transportation Strategy <br /><span>Melbourne, VIC</span>
              </div>
              <div class="headerImage bwWrapper projectImg" data-reveal-id="myModal2" data-animation="fade">
                <a href="#"><img src="../../assets/projects-big24.jpg" alt="test" /></a>
              </div>
              <div class="thumbhover">
                <p>The DoT (nee DoI) has been undertaking studies to determine the physical, economic and financial viability of increasing the capacity of the Sunshine line in Melbourne's west</p>
              </div>
            </div>

            <div class="projectContiner">
              <div class="headerTittle">Sydney Multi-Modal Travel Model Development <br /><span>Sydney, NSW</span>
              </div>
              <div class="headerImage bwWrapper projectImg" data-reveal-id="myModal3" data-animation="fade">
                <a href="#"><img src="../../assets/projects-big20.jpg" alt="test" /></a>
              </div>
              <div class="thumbhover">
                <p>Identify a preferred integrated land use and transport strategy for inner city Brisbane, particularly in relation to the rail network</p>
              </div>
            </div>

            <div class="projectContiner">
              <div class="headerTittle">East-West Link Needs Assessment Study(Eddington Report)<br /><span>Melbourne, VIC</span>
              </div>
              <div class="headerImage bwWrapper projectImg" data-reveal-id="myModal4" data-animation="fade">
                <a href="#"><img src="../../assets/projects-big22.jpg" alt="test" /></a>
              </div>
              <div class="thumbhover">
                <p>This study was carried out for the Department of Transport (nee Department of Infrastructure) in Victoria.</p>
              </div>


            </div>



          </div>
          <div class="bottomContentSection">
            <div class="backnext">

              <a class="more-gray" href="javascript:void(0)">back </a>
            </div>
          </div>


        </div>


      </div>
      <div class="sidebaright">

        <div class="sidebarmenu">
          <div class="sidebarmenuheading">
            <h1>Consulting Services</h1>
          </div>
          <div class="sidebarmenutypes">
            <a class="active" href="/services">Overview</a>
          </div>
          <div class="sidebarmenutypes activesidebarmenu marginBottomZero">
            <a href="/services/forecasting">Demand Forecasting</a>
          </div>
          <div class="sidebarmenutypes activesidebarmenu marginBottomZero subSideMenu">
            <a href="/services/forecasting/tollroaddemand">Toll Road Demand Forecasting</a>
          </div>
          <div class="sidebarmenutypes activesidebarmenu marginBottomZero subSideMenu">
            <a href="/services/forecasting/publictransportdemand">Public Transport Demand Forecasting</a>
          </div>
          <div class="sidebarmenutypes activesidebarmenu marginBottomZero subSideMenu activesubSidemenu">
            <a href="/services/forecasting/multimodaldemand">Multi-modal Travel Demand Forecasting</a>
          </div>
          <div class="sidebarmenutypes activesidebarmenu subSideMenu">
            <a href="/services/forecasting/microsimulation">Microsimulation Modelling</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="/services/planning">Transport Planning</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="/services/landuse">Land Use &amp; Demographic Forecasting</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="/services/other">Other Services</a>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>



<div class="popupopen reveal-modal" id="myModal">
  <a class="close-reveal-modal">×</a>
  <div class="Innerpopupopen">
    <div class="projectInformation">

      <div class="ContentImage">
        <img alt="test" src="../../assets/projects-big26.jpg" />
      </div>
      <div class="ContentDetail">
        <div class="clientRow">
          <div class="Client">
            Client
          </div>
          <div class="Clientname">
            Brisbane City Council
          </div>
        </div>
        <div class="clientRow">
          <div class="Client">
            Links
          </div>
          <div class="Clientname">

          </div>
        </div>
      </div>

      <div class="headerTittle">
        Green Bridge Demand Forecasts
        <span>Brisbane, QLD</span>
      </div>
      <div class="projectDetail">
        <p>In 2003/2004 VLC was engaged by the Brisbane City Council to produce pedestrian/cycle and bus passenger demand forecasts for alternative configurations of the Green Bridge Project at Dutton Park (Brisbane). The new bridge (which opened in 2006) provides a direct bus, pedestrian and cycle link across the Brisbane River to the University of Queensland. Cars and commercial vehicles are not allowed to use the new bridge.</p>
        <p>The study included the design of new bus services to the University, and an analysis of park-and-ride demand should a major park-and-ride facility be constructed on the eastern approach to the new bridge.</p>
      </div>

    </div>

    <div class="bottomContentSection">
      <div class="bottomheader">
        <img alt="Icon" src="../../assets/headericon.jpg" />
        <p>Other Projects</p>
      </div>
      <div class="imagecontainer">
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/project_small7.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/project_small9.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/project_small3.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/project_small3.jpg" alt="test" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popupopen reveal-modal" id="myModal2">
  <a class="close-reveal-modal">×</a>
  <div class="Innerpopupopen">
    <div class="projectInformation">

      <div class="ContentImage">
        <img alt="test" src="../../assets/projects-big24.jpg" />
      </div>
      <div class="ContentDetail">
        <div class="clientRow">
          <div class="Client">
            Client
          </div>
          <div class="Clientname">
            Dol
          </div>
        </div>
        <div class="clientRow">
          <div class="Client">
            Links
          </div>
          <div class="Clientname">
          </div>
        </div>
      </div>

      <div class="headerTittle">
        Inner Western Integrated Transportation Strategy (IWITS)
        <span>Melbourne, VIC</span>
      </div>
      <div class="projectDetail">
        <p>VLC was commissioned by the DoI to prepare travel demand forecasts for the Inner Western Integrated Transport Strategy Study (IWITS).</p>
        <p>The scope of the broader study as described in the brief now follows:</p>
        <p>"The purpose of the study is to create a regional strategy for the development and management of transport and land use patterns that enable transport services to be integrated to meet the needs of the community and business. The study will place greatest focus on the region's transport infrastructure needs over the next 20 years but will also consider and assess actions to protect options for the longer term.“</p>
        <p>The IWITS study area encompassed the Cities of Hobsons Bay, Maribyrnong and Moonee Valley. The study produced forecasts relating to existing conditions and to estimating likely prevailing conditions in 2021 (in a "do nothing" environment). It also analysed the implications of a package of road and public transport improvements.</p>
      </div>

    </div>

    <div class="bottomContentSection">
      <div class="bottomheader">
        <img alt="Icon" src="../../assets/headericon.jpg" />
        <p>Other Projects</p>
      </div>
      <div class="imagecontainer">
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/project_small7.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/project_small9.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/project_small3.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/project_small3.jpg" alt="test" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popupopen reveal-modal" id="myModal3">
  <a class="close-reveal-modal">×</a>
  <div class="Innerpopupopen">
    <div class="projectInformation">

      <div class="ContentImage">
        <img alt="test" src="../../assets/projects-big20" />
      </div>
      <div class="ContentDetail">
        <div class="clientRow">
          <div class="Client">
            Client
          </div>
          <div class="Clientname">
            Sydney Statistical Division
          </div>
        </div>
        <div class="clientRow">
          <div class="Client">
            Link
          </div>
          <div class="Clientname">
            Link to Sydney Coverage Map within <br />
            <a href="/zenith">VeitchLister.com.au/zenith</a>
          </div>
        </div>
      </div>

      <div class="headerTittle">
        Sydney Multi-Modal Travel Model
        <span>Sydney, NSW</span>
      </div>
      <div class="projectDetail">
        <p>In 2008 VLC completed the development of a multi-modal travel forecasting model for the Sydney Statistical Division. The new model (Zenith) forms an integral part of an audience measurement system for the Australian Out-of-Home Advertising Industry.</p>
        <p>While the new model was constructed within a traditional four-step strategic modelling framework, it has (because of the more precise requirements of the advertising industry) been developed to a level of detail that makes it a powerful tool for detailed public transport service planning and interchange design. As the audience measurement system covers all advertising formats (beside road billboards, street furniture such as bus shelters, advertising on the exterior of buses, within station/shopping centre/airport advertising, etc.) the model is required to accurately model person flows both within the public transport system and while accessing the system.</p>
        <p>Features of the model that distinguish it from a typical strategic travel model include:</p>
        <ul class="ullist">
          <li><span>Modelling of alternative access modes to the public transport system (walking/cycling, park-and-ride/kiss-and-ride);</span>
          </li>
          <li><span>Precise (actual) definition of the public transport system (all stations/ferry terminals and bus stops, all services and stopping patterns by time of day);</span>
          </li>
          <li><span>Highly disaggregate travel zone system within the CBD;</span>
          </li>
          <li><span>Modelling of passenger flows within CBD and major suburban stations;</span>
          </li>
          <li><span>Highly disaggregate travel market segmentation (15 journey purposes by 3 levels of car availability); and</span>
          </li>
          <li><span>Accurate mode to mode transfer predictions within the public transport system.</span>
          </li>
        </ul>
        <p>The Sydney Zenith model has already been validated, and is available for use on strategic transport planning projects. It is totally compatible with versions of the Zenith model used on recent CBD metro projects in Melbourne and Brisbane (refer below).</p>
      </div>

    </div>

    <div class="bottomContentSection">
      <div class="bottomheader">
        <img alt="Icon" src="../../assets/headericon.jpg" />
        <p>Other Projects</p>
      </div>
      <div class="imagecontainer">
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="popupopen reveal-modal" id="myModal4">
  <a class="close-reveal-modal">×</a>
  <div class="Innerpopupopen">
    <div class="projectInformation">

      <div class="ContentImage">
        <img alt="test" src="../../assets/project01.jpg" />
      </div>
      <div class="ContentDetail">
        <div class="clientRow">
          <div class="Client">
            Client
          </div>
          <div class="Clientname">
            East-West Link Needs Assessment Study Project Team
          </div>
        </div>
        <div class="clientRow">
          <div class="Client">
            Links
          </div>
          <div class="Clientname">
            <a target="_blank" href="http://www.transport.vic.gov.au/research/research-and-policy-development-publications/investing-in-transport-report">Investing in Transport Report(2008)</a>
          </div>
        </div>
      </div>

      <div class="headerTittle">
        Melbourne East-West Link Needs Assessment Study
        <span>Melbourne, VIC</span>
      </div>
      <div class="projectDetail">
        <p>In 2008 VLC completed all the travel demand forecasting for the Eddington Study using the Zenith model. The scope of the study included resolution of existing and forecasts road network deficiencies in inner Melbourne, potential toll revenue generation and assessment of options to significantly increase the capacity of the rail network on the approaches to, and within, the Melbourne CBD.</p>
        <p>VLC's brief included the prediction of passenger demands on the rail network with a new CBD underground Metro from Caulfield in the south-east, passing under the central CBD on a south to north alignment, and continuing on to Footscray via Melbourne University (18 kilometres in length).</p>
        <p>As part of this project, VLC further refined Zenith model procedures for predicting the impacts of rail network passenger overloading, including changes in choice of travel mode and time of travel changes (i.e. peak spreading).</p>
      </div>

    </div>

    <div class="bottomContentSection">
      <div class="bottomheader">
        <img alt="Icon" src="../../assets/headericon.jpg" />
        <p>Other Projects</p>
      </div>
      <div class="imagecontainer">
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
        <div class="headerImage">
          <a href="javascript:void(0)">
            <img src="../../assets/blank_img.jpg" alt="test" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>







