<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">



  <body>

    <div class="main-wrapper">




      <!--slideshow banner-->
      <div class="banner-wrapper">
        <!--<div class="main-wrapper-fixed bannerwrap">
				  fff
			</div>-->

        <!-- Responsive slider - START -->

        <div class="responsive-slider-parallax" data-spy="responsive-slider" data-parallax="true" data-parallax-direction="1">
          <div class="slides-container" data-group="slides">
            <ul>
              <!-- <li>
                 <div class="slide-body" data-group="slide">
                   <div class="container">
                     <div class="wrapper">
                       <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="500" data-length="300">
                         <h2>Responsive slider</h2>
                         <div class="caption sub" data-animate="slideAppearLeftToRight" data-delay="800" data-length="300">With one to one swipe movement!</div>
                       </div>
                       <div class="caption img-html5" data-animate="slideAppearLeftToRight" data-delay="200">
                         <img src="img/html5.png">
                       </div>
                       <div class="caption img-css3" data-animate="slideAppearLeftToRight">
                         <img src="img/css3.png">
                       </div>
                     </div>
                   </div>
                 </div>
               </li>-->

              <li>
                <div class="slide-body" data-group="slide">
                  <div class="container">
                    <div class="wrapper">
                      <div class="caption header" >
                        <h2 data-animate="slideAppearLeftToRight" data-delay="500" data-length="300">Who's looking at your advertisement</h2>
                        <div class="caption sub" data-animate="slideAppearRightToLeft" data-delay="700" data-length="400">We have developed a solid reputation for providing work of the highest quality</div>


                      </div>

                      <div class="caption bottomgroup" data-delay="800" data-animate="slideAppearLeftToRight" data-length="500">
                        <div class="caption groupsub1" data-animate="slideAppearRightToLeft" data-delay="900" data-length="600">VLC has developed THE MOST sophisticated audience</div>
                        <div class="caption groupsub2" data-animate="slideAppearLeftToRight" data-delay="1000" data-length="700">Measurement system WORLDWIDE</div>
                        <!-- <div class="caption groupsub3" data-animate="slideAppearRightToLeft" data-delay="1100" data-length="800">As we believe “ if it isn't, it'd be close! ”</div>-->
                        <div class="caption groupsub4" data-animate="slideAppearLeftToRight" data-delay="1200" data-length="900"><a class="whats-orange" href="#"> read more &nbsp; <img src="assets/arrow.png" alt="Arrow" /></a></div>
                      </div>

                      <div class="caption img-html5" data-animate="slideAppearLeftToRight" data-delay="300" data-length="300" >
                        <img src="assets/banner.png" alt="Banner" />
                      </div>

                    </div>
                  </div>
                </div>
              </li>


              <li>
                <div class="slide-body" data-group="slide">
                  <div class="container">
                    <div class="wrapper">
                      <div class="caption header" >
                        <h2 data-animate="slideAppearLeftToRight" data-delay="500" data-length="300">Who's looking at your advertisement</h2>
                        <div class="caption sub" data-animate="slideAppearRightToLeft" data-delay="700" data-length="400">We have developed a solid reputation for providing work of the highest quality</div>


                      </div>

                      <div class="caption bottomgroup" data-delay="800" data-animate="slideAppearLeftToRight" data-length="500">
                        <div class="caption groupsub1" data-animate="slideAppearRightToLeft" data-delay="900" data-length="600">VLC has developed THE MOST sophisticated audience</div>
                        <div class="caption groupsub2" data-animate="slideAppearLeftToRight" data-delay="1000" data-length="700">Measurement system WORLDWIDE</div>
                        <!--<div class="caption groupsub3" data-animate="slideAppearRightToLeft" data-delay="1100" data-length="800">As we believe “ if it isn't, it'd be close! ”</div>-->
                        <div class="caption groupsub4" data-animate="slideAppearLeftToRight" data-delay="1200" data-length="900"><a class="whats-orange"> read more</a></div>
                      </div>

                      <div class="caption img-html5" data-animate="slideAppearLeftToRight" data-delay="300" data-length="300" >
                        <img src="assets/bannercar.png" alt="Banner" />
                      </div>

                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="slide-body" data-group="slide">
                  <div class="container">
                    <div class="wrapper">
                      <div class="caption header" >
                        <h2 data-animate="slideAppearLeftToRight" data-delay="500" data-length="300">Who's looking at your advertisement</h2>
                        <div class="caption sub" data-animate="slideAppearRightToLeft" data-delay="700" data-length="400">We have developed a solid reputation for providing work of the highest quality</div>


                      </div>

                      <div class="caption bottomgroup" data-delay="800" data-animate="slideAppearLeftToRight" data-length="500">
                        <div class="caption groupsub1" data-animate="slideAppearRightToLeft" data-delay="900" data-length="600">VLC has developed THE MOST sophisticated audience</div>
                        <div class="caption groupsub2" data-animate="slideAppearLeftToRight" data-delay="1000" data-length="700">Measurement system WORLDWIDE</div>
                        <!--<div class="caption groupsub3" data-animate="slideAppearRightToLeft" data-delay="1100" data-length="800">As we believe “ if it isn't, it'd be close! ”</div>-->
                        <div class="caption groupsub4" data-animate="slideAppearLeftToRight" data-delay="1200" data-length="900"><a class="whats-orange"> read more</a></div>
                      </div>

                      <div class="caption img-html5" data-animate="slideAppearLeftToRight" data-delay="300" data-length="300" >
                        <img src="assets/banner.png" alt="Banner" />
                      </div>

                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="slide-body" data-group="slide">
                  <div class="container">
                    <div class="wrapper">
                      <div class="caption header" >
                        <h2 data-animate="slideAppearLeftToRight" data-delay="500" data-length="300">Who's looking at your advertisement</h2>
                        <div class="caption sub" data-animate="slideAppearRightToLeft" data-delay="700" data-length="400">We have developed a solid reputation for providing work of the highest quality</div>


                      </div>

                      <div class="caption bottomgroup" data-delay="800" data-animate="slideAppearLeftToRight" data-length="500">
                        <div class="caption groupsub1" data-animate="slideAppearRightToLeft" data-delay="900" data-length="600">VLC has developed THE MOST sophisticated audience</div>
                        <div class="caption groupsub2" data-animate="slideAppearLeftToRight" data-delay="1000" data-length="700">Measurement system WORLDWIDE</div>
                        <!--<div class="caption groupsub3" data-animate="slideAppearRightToLeft" data-delay="1100" data-length="800">As we believe “ if it isn't, it'd be close! ”</div>-->
                        <div class="caption groupsub4" data-animate="slideAppearLeftToRight" data-delay="1200" data-length="900"><a class="whats-orange"> readmore</a></div>
                      </div>

                      <div class="caption img-html5" data-animate="slideAppearLeftToRight" data-delay="300" data-length="300" >
                        <img src="assets/banner.png" alt="Banner" />
                      </div>

                    </div>
                  </div>
                </div>
              </li>





            </ul>
          </div>
          <a class="slider-control left" href="#" data-jump="prev"> <i class="icon-angle-right"> <img src="assets/lbanner_arrow.png" alt="Slider Arrow" /> </i></a>
          <a class="slider-control right" href="#" data-jump="next"><i class="icon-angle-right"> <img src="assets/rbanner_arrow.png" alt="Slider Arrow" /> </i></a>
          <!-- <div class="pages">
             <a class="page" href="#" data-jump-to="1">1</a>
             <a class="page" href="#" data-jump-to="2">2</a>
             <a class="page" href="#" data-jump-to="3">3</a>
           </div>-->
        </div>

        <!-- Responsive slider - END -->
      </div>
      <!--slideshow banner ends-->

      <!--mainContent ends here-->
      <div class="mainContent-wrapper">
        <div class="main-wrapper-fixed contentwrapper">
          <div class="contnettopful">
            <div class="content-top">Veitch Lister Consulting, the Transport Planning & Modelling Experts.</div>
            <div class="content-bottom"> Veitch Lister Consulting Pty Ltd (VLC) is one of the largest specialist transport planning consultancies in Australia.</div>
          </div>

          <div class="contentbottomfull">
            <div class="contentmodu1">
              <img src="assets/01.png" alt="Icon1" title="Zenith Transport Models" />
              <div class="moduleheading">
                Zenith Transport Models
              </div>
              <div class="modulecontent">
                The most widely used transport models within Australia
              </div>
              <div class="more-lindiv">
                <a href="javascript:void(0)" class="more-gray">more</a>
                <a href="javascript:void(0)" class="whats-orange">what's new </a>
              </div>
            </div>
            <div class="contentmodu2">
              <img src="assets/02.png" alt="Icon1" title="Zenith Transport Models" />
              <div class="moduleheading">
                Zenith Traffic Estimates
              </div>
              <div class="modulecontent">
                The most widely used transport models within Australia
              </div>
              <div class="more-lindiv">
                <a href="javascript:void(0)" class="more-gray">more</a>
                <!--<a href="javascript:void(0)" class="whats-orange">what's new </a>-->
              </div>
            </div>
            <div class="contentmodu3">
              <img src="assets/03.png" alt="Icon1" title="Zenith Transport Models" />
              <div class="moduleheading">
                Outdoor Audience Measurement
              </div>
              <div class="modulecontent">
                The most widely used transport models within Australia
              </div>
              <div class="more-lindiv">
                <a href="javascript:void(0)" class="more-gray">more</a>
                <a href="javascript:void(0)" class="whats-orange">what's new </a>
              </div>
            </div>
            <div class="contentmodu4">
              <img src="assets/04.png" alt="Icon1" title="Zenith Transport Models" />
              <div class="moduleheading">
                Consulting Services
              </div>
              <div class="modulecontent">
                The most widely used transport models within Australia
              </div>
              <div class="more-lindiv">
                <a href="javascript:void(0)" class="more-gray">more</a>
                <!--<a href="javascript:void(0)" class="whats-orange">what's new </a>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--mainContent ends here-->

      <!--footer ends here-->
      <div class="news-wrapper">
        <div class="main-wrapper-fixed newswrapper">
          <div class="newstitletop">
            <div class="newsheadinner"> News </div>
          </div>
          <div class="newsfulbottom">

            <div class="slider_news" >
              <div class="slider_main" >
                <div class="liquid-slider" id="slider1">
                  <div>
                    <span class="newsTitle">Setting 7</span>
                    <span class="newsDate">by VLC on 24 September 2013</span>
                    <span class="newsDesc">
                      VLC have a booth at the 2013 ARTF national conference with Tim Veitch James Partridge and Tomas Potesil presenting papers. VLC have a booth at the 2013 ATRF national conference with Tim Veitch, James Partridge.</span>
                  </div>
                  <div>
                    <span class="newsTitle">Setting 1</span>
                    <span class="newsDate">by VLC on 8 November 2013</span>
                    <span class="newsDesc">Over the pawst several months, a number of claims have been made in relation to VLC's transport modelling for the East west link, most notable by former VicRoads officer, Doug Harley. VLC would like to take this opportunity to set the record straight.</span>
                  </div>
                  <div>
                    <span class="newsTitle">Setting 3</span>
                    <span class="newsDate">by VLC on 24 September 2013</span>
                    <span class="newsDesc">VLC have a booth at the 2013 ARTF national conference with Tim Veitch James Partridge and Tomas Potesil presenting papers. VLC have a booth at the 2013 ATRF national conference with Tim Veitch, James Partridge.</span>
                  </div>
                  <div>
                    <span class="newsTitle">Setting 5</span>
                    <span class="newsDate">by VLC on 8 November 2013</span>
                    <span class="newsDesc">Over the pawst several months, a number of claims have been made in relation to VLC's transport modelling for the East west link, most notable by former VicRoads officer, Doug Harley. VLC would like to take this opportunity to set the record straight.</span>
                  </div>
                </div>
                <div class="htabpar">
                  <div class="htab"></div>
                </div>
                <div class="liquid-slider" id="slider2">
                  <div>
                    <span class="newsTitle">Setting 8</span>
                    <span class="newsDate">by VLC on 24 September 2013</span>
                    <span class="newsDesc">VLC have a booth at the 2013 ARTF national conference with Tim Veitch James Partridge and Tomas Potesil presenting papers. VLC have a booth at the 2013 ATRF national conference with Tim Veitch, James Partridge.</span>
                  </div>
                  <div>
                    <span class="newsTitle">Setting 2</span>
                    <span class="newsDate">by VLC on 8 November 2013</span>
                    <span class="newsDesc">Over the pawst several months, a number of claims have been made in relation to VLC's transport modelling for the East west link, most notable by former VicRoads officer, Doug Harley. VLC would like to take this opportunity to set the record straight.</span>
                  </div>
                  <div>
                    <span class="newsTitle">Setting 4</span>
                    <span class="newsDate">by VLC on 24 September 2013</span>
                    <span class="newsDesc">VLC have a booth at the 2013 ARTF national conference with Tim Veitch James Partridge and Tomas Potesil presenting papers. VLC have a booth at the 2013 ATRF national conference with Tim Veitch, James Partridge.</span>
                  </div>
                  <div>
                    <span class="newsTitle">Setting 6</span>
                    <span class="newsDate">by VLC on 8 November 2013</span>
                    <span class="newsDesc">Over the pawst several months, a number of claims have been made in relation to VLC's transport modelling for the East west link, most notable by former VicRoads officer, Doug Harley. VLC would like to take this opportunity to set the record straight.</span>
                  </div>
                </div>

              </div>
              <div class="buttons">
                <span class="pre prepic"></span>
                <span class="next nextpic"></span>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--footer ends here-->



    </div>	<!--bodyWrapper ends here-->

    <!-- for slider top -->
    <script src="assets/jquery.event.move.js" type="text/javascript"></script>
    <script src="/netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/responsive-slider.js" type="text/javascript"></script>
    <!--<script src="assets/scripts/responsive-slidernew.js" type="text/javascript"></script>-->

    <script src="assets/jquery.touchSwipe.min.js" type="text/javascript"></script>
    <script src="assets/jquery.liquid-slider.js" type="text/javascript"></script>
    <!-- for slider top -->
    <script type="text/javascript">
      $( document ).ready( function() {
        <%#*$('.responsive-slider-parallax').responsiveSlider({%>
          <%#*autoplay: false,%>
          <%#*interval: 5000,%>
          <%#*transitionTime: 300,%>
          <%#*parallax:true%>
        <%#*});%>

          $('.responsive-slider-parallax').responsiveSlider({
          autoplay: false,
          interval: 5000,
          transitionTime: 300

        });
      });
      $(function(){
        $('#slider1').liquidSlider();
        $('#slider2').liquidSlider();
        $('.ls-wrapper.arrows.ls-responsive').addClass("sizeFix");
        $('.next').on("click",function(){
          $('#slider1-wrapper .ls-nav-left-arrow a').trigger("click");
          $('#slider2-wrapper .ls-nav-left-arrow a').trigger("click");

        });
        $('.pre').on("click",function(){
          $('#slider1-wrapper .ls-nav-right-arrow a').trigger("click");
          $('#slider2-wrapper .ls-nav-right-arrow a').trigger("click");

        });
      });

    </script>

  </body>
</html>
