<head>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="content-language" content="en" />
  <meta name="keywords" content="VLC" />
  <meta name="description" content="VLC" />

  <meta http-equiv="Content-Script-Type" content="text/javascript"/>
  <meta http-equiv="content-style-type" content="text/css" />

  <title>VLC</title>
  <meta name="viewport" content="width=device-width" />

  <script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans|Lobster' rel='stylesheet' type='text/css'/>
  <!-- Liquid Slider relies on jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="common/images/favicon.ico" />
  <%#*<link rel="stylesheet" href="assets/styles/liquid-slider.css"/>%>
  <link rel="stylesheet" href="../assets/liquid-slider.css" type="text/css" />
  <link rel="stylesheet" href="../assets/styles.css" type="text/css" />
  <link rel="stylesheet" media="only screen and (max-width: 1024px)" href="../assets/vlc_1024.css" />
  <link rel="stylesheet" media="only screen and (max-width: 480px)" href="../assets/vlc_480.css" />
  <link rel="stylesheet" media="only screen and (-webkit-min-device-pixel-ratio : 1.5),
          only screen and (min-device-pixel-ratio : 1.5)" href="../assets/vlc_480.css" />


  <!-- For slider top -->

  <!--<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">-->
  <!-- Respomsive slider -->
  <link href="../assets/responsive-slider-paralax.css" rel="stylesheet">

  <!-- for slider top -->

  <script type="text/javascript" src="../assets/jquery-1.10.2.js"></script>
  <!-- jQuery Library + UI Tools + Form Tools: Always keep this file above any other js file.-->
  <script type="text/javascript" src="../assets/vlcscript.js"></script>

</head>