
<div class="header-wrapper">
  <div class="main-wrapper-fixed headerwrapper">
          <span class="header-left floatleft">
            <a href="index.html">
              <img src="../assets/VLC_logo.png" alt="Logo VLC" id="logo" title="VLC" /> </a>
          </span>
    <!--<div class="header-left floatleft">
<img src="assets/images/VLC_logo.png" alt="Logo VLC" id="logo" title="VLC" />
</div>-->
    <div class="header-right floatright">
      <div class="menutoggle"> MENU </div>

      <ul class="menu_ulist">
        <li class="navi-menu homemenu">
          <a> <img src="../assets/home_icon01.png" alt="Home" title="Home"/></a>
        </li>
        <li class="navi-menu consultingservices">
          <a href="#" title="Consulting Services"> Consulting Services</a>
          <div class="header-submenu-wrap">
            <div class="sublink-multiple-dropdown-outer">
              <div class="sublink-multiple-wrapper">

                <div class="fulldivmenu">


                  <div class="menudiv50">
                    <div class="submenu-box">
                      <div class="imagebox">
                        <img src="../assets/01.png"  alt="01image"/>
                      </div>
                      <div class="submenubox">
                        <h1>Overview</h1>
                        <p>Veitch Lister has provided the transport planning industry</p>
                      </div>
                    </div>
                  </div>
                  <div class="menudiv50">
                    <div class="submenu-box">
                      <div class="imagebox">
                        <img src="../assets/01.png" alt="01image" />
                      </div>
                      <div class="submenubox">
                        <h1>Transport Planning</h1>
                        <p>Software like Aldus PageMaker including versions of Ipsum</p>
                      </div>
                    </div>
                  </div>
                  <div class="menudiv50">
                    <div class="submenu-box">
                      <div class="imagebox">
                        <img src="../assets/01.png" alt="01" />
                      </div>
                      <div class="submenubox">
                        <h1>Other Services</h1>
                        <p>There are many variations of passages of Ipsum available </p>
                      </div>
                    </div>
                  </div>

                  <div class="menudiv50">
                    <div class="submenu-box">
                      <div class="imagebox">
                        <img src="../assets/01.png"  alt="01image"/>
                      </div>
                      <div class="submenubox">
                        <h1>Demand Forecasting</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing</p>
                      </div>
                    </div>
                  </div>
                  <div class="menudiv50">
                    <div class="submenu-box">
                      <div class="imagebox">
                        <img src="../assets/01.png" alt="01image"/>
                      </div>
                      <div class="submenubox">
                        <h1>Land Use & Demographic Forecasting </h1>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply</p>
                      </div>
                    </div>
                  </div>
                  <div class="menudiv50">
                    <div class="submenu-box">
                      <div class="imagebox">
                        <img src="../assets/01.png" alt="01image" />
                      </div>
                      <div class="submenubox">
                        <h1>Projects</h1>
                        <p>It is a long established fact that a reader will be distract</p>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="navi-menu">
          <a href="#" title="Zenith Transport Models"> Zenith Transport Models</a>

        </li>
        <li class="navi-menu">
          <a href="#" title="Outdoor Audiance Measurement"> Outdoor Audiance Measurement</a>
        </li>
        <li class="navi-menu">
          <a href="#" title="Company">Company</a>
        </li>
        <li class="navi-menu">
          <a href="#" title="Contact"> Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--header ends here-->