/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, img, object, iframe, blockquote, abbr, acronym, address, big, cite, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, u, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*-------Layout styles starts here---------*/
body {
    background-color: #FFFFFF;
    /*font:normal 12px Arial, Helvetica, sans-serif;*/
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: Arial;
    /*font-family:'Liberation Sans Narrow';*/
    font-size: 100%;
    font-weight: normal;
    color: #666666;
}
.bodyWrapper {
    background-color: #FFFFFF;
    width: 1024px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
}
a {
    color: #EC8B00;
}
/*@font-face{
	font-family: 'Liberation Sans Regular';
	src: url('../fonts/Liberation_Sans_Regular/LiberationSans-Regular.eot');
	src: local('Liberation Sans Regular'), url('../fonts/Liberation_Sans_Regular/LiberationSans-Regular.ttf') format('truetype'),
	url('../fonts/Liberation_Sans_Regular/LiberationSans-Regular.woff') format('woff'),
	url('../fonts/Liberation_Sans_Regular/LiberationSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/



/*@font-face{
	font-family: 'Liberation Sans Narrow';
	src: url('../fonts/Liberation_Sans_Narrow/Liberation-Sans-Narrow.eot');
	src: local('Liberation Sans Narrow'), url('../fonts/Liberation_Sans_Narrow/Liberation-Sans-Narrow.ttf') format('truetype'),
	url('../fonts/Liberation_Sans_Narrow/Liberation-Sans-Narrow.woff') format('woff'),
	url('../fonts/Liberation_Sans_Narrow/Liberation-Sans-Narrow.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

@font-face {
    font-family: 'Friz Quadrata TT';
    src: url('../fonts/FrizQuadrata_TT/LiberationSans-Regular.eot');
    src: local('Friz Quadrata TT'), url('../fonts/FrizQuadrata_TT/Friz Quadrata TT.ttf') format('truetype'),  url('../fonts/FrizQuadrata_TT/Friz Quadrata TT.woff') format('woff'),  url('../fonts/FrizQuadrata_TT/Friz Quadrata TT.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/Arial_Narrow/Arial Narrow.eot');
    src: local('Arial Narrow'), url('../fonts/Arial_Narrow/Arial Narrow.ttf') format('truetype'),  url('../fonts/Arial_Narrow/Arial Narrow.woff') format('woff'),  url('../fonts/Arial_Narrow/Arial Narrow.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica_Narrow/5342086068.eot');
    src: local('Helvetica'), url('../fonts/Helvetica_Narrow/5342086068.ttf') format('truetype'),  url('../fonts/Helvetica_Narrow/5342086068.woff') format('woff'),  url('../fonts/Helvetica_Narrow/5342086068.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Liberation Sans Narrow';
    src: url('../fonts/LiberationSansNarrow/LiberationSansNarrow-Regular_0.eot');
    src: local('Liberation Sans Narrow'), url('../fonts/LiberationSansNarrow/LiberationSansNarrow-Regular_0.ttf') format('truetype'),  url('../fonts/LiberationSansNarrow/LiberationSansNarrow-Regular_0.woff') format('woff'),  url('../fonts/LiberationSansNarrow/LiberationSansNarrow-Regular_0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.rupeeSymbol {
    font-family: "Rupee Foradian";
    font-size: 100%;
    font-style: normal;
}
/*** added by srividya on Nov 25 **/

.width_show {
    display: block !important;
    background: none repeat scroll 0 0 #9FF;
    color: #000;
    opacity: 0.8;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1211;
}
.main-wrapper {
    float: left;
    font-size: 12px;
    height: auto;
    line-height: 16px;
    width: 100%;
}
.main-wrapper-fixed {
    height: auto;
    margin: auto;
    width: 1024px;
}
.floatleft {
    float: left;
    color: #666666;
}
.floatright {
    float: right;
}
.left-floated {
    float: left;
}
.justify-text {
    text-align: left !important;
}
.bold-text {
    font-weight: bold !important;
}
.header-wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    float: left;
    width: 100%;
    padding-top: 1%;
}
.header-left {
    width: auto;
    /*padding:1% 0;*/
    float: left;
}
.header-right {
    float: right;
    height: auto;
    top: 30px;
    width: auto;
    z-index: 1000;
}
.menutoggle {
    display: none;
}
.menu_ulist {
    float: left;
    display: block;
    width: 100%;
}
.menu_ulist {
    display: block;
    float: left;
    margin-bottom: 0;
    margin-top: 26px;
    padding-left: 0;
    width: 100%;
}
.navi-menu {
    cursor: pointer;
    float: left;
    padding: 0;
    margin-right: 5px;
}
.navi-menu a {
    font-size: 14px;
    font-family: Arial;
    color: #333333;
    padding: 15.2px 12px;
    float: left;
}
.navi-menu:hover {
    background: none repeat scroll 0 0 #E1DFD3;/*color:#000 !important;*/

}
.navi-menu:hover a, .navi-menu:hover a:hover {
    color: #333333;
}
.homemenu:hover {
    /*background: none !important;*/
}

body #fadelayer {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    background: #444444;
    width: 100%;
    height: 100%;
    opacity: .70;
    float: left;
    cursor: pointer;
}

.right-menu-toggle {
    display: none;
    position: relative;
}
.right-menu-toggle a {
    text-decoration: none;
}
.right-menu-toggle span {
    margin-left: 3px;
    position: relative;
    top: -10px;
}
.pre_desktop_view {
    display: block;
    margin-bottom: 0px;
    margin-top:0px;
}
.pre_mobile_view {
    display: none;
}


.banner-wrapper {
    /*background:url(../assets/banner_bg.jpg) no-repeat left top;*/
    clear: both;
    float: left;
    /*min-height: 500px;*/
    width: 100%;
}
.contnettopful {
    background: url(../assets/line_bg.jpg) no-repeat scroll center bottom rgba(0, 0, 0, 0);
    clear: both;
    float: left;
    font-family: 'Liberation Sans Narrow';
    padding-bottom: 30px;
    padding-top: 26px;
    text-align: center;
    width: 100%;
}
.content-top {
    color: #EC8B00;
    font-family: 'Helvetica';
    font-size: 26px;
    line-height: 33px;
}
.content-bottom {
    color: #666666;
    font-family: helvetica;
    font-size: 17px;
    line-height: 25px;
}
.mainContent-wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    float: left;
    width: 100%;
}
.contentwrapper {
    padding-top: 0px;
    padding-bottom: 0px;
}
.contentbottomfull {
    clear: both;
    float: left;
    padding-bottom: 52px;
    padding-top: 40px;
    width: 100%;
}
.contentmodu1 {
    float: left;
    width: 24%;
    margin-right: 2%;
}
.contentmodu2 {
    float: left;
    width: 23%;
    margin-right: 2%;
}
.contentmodu3 {
    float: left;
    width: 25%;
    margin-right: 2%;
}
.contentmodu4 {
    float: left;
    width: 22%;
}
.moduleheading {
    font-size: 16px;
    padding-top:8px;
    padding-bottom:6px;
    font-family: 'Helvetica';
    color: #333333;
}
.modulecontent {
    font-size: 13px;
    padding-top: 1px;
    padding-bottom: 10px;
}
.more-lindiv {
    padding-top: 5px;
    padding-bottom: 5px;
}
.more-gray {
    font-size: 13px;
    background: #dcdbd3;
    padding: 3px 7px;
    color: #000;
    text-decoration: none;
    font-family: 'Helvetica';
}
.more-gray:hover, .whats-orange:hover {
    background: #606060;
    color: #ffffff;
}
.whats-orange {
    font-size: 14px;
    background: #EC8B00;
    padding: 3px 7px;
    color: #fff;
    text-decoration: none;
    font-family: 'Helvetica';
}
.news-wrapper {
    /*background-image: url(../assets/news_bg.png);
	 background-repeat:no-repeat;
	 background-position:center bottom;*/
    /* background-color: #ebeae2;*/
    clear: both;
    float: left;
    width: 100%;
    /*border-top:#616161 solid 1px;
	padding-top:4px;*/
    background: url("../assets/news_bgnew.jpg") repeat-x scroll left top #EBEAE2;
    min-height: 300px;
    border-bottom: 8px solid #FFFFFF;
}
/* news section later delet **/

.newsfulbottom {
    width: 100%;
    float: left;
    clear: both;
}
.newsleft {
    float: left;
    padding-top: 25px;
    text-align: center;
    width: 44%;
}
.newsmiddle {
    float: left;
    text-align: center;
    width: 12%;
}
.borderr {
    height: 170px;
    margin-bottom: 10px;
}
.newsright {
    float: left;
    padding-top: 25px;
    text-align: center;
    width: 44%;
}
.newstitletop {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-left-radius: 59px;
    border-bottom-right-radius: 59px;
    bottom: 21px;
    height: 60px;
    /**left: 50%;*/
    margin: 0 auto;
    position: relative;
    width: 107px;
}
.newsheadinner {
    color: #333333;
    font-family: 'Helvetica';
    font-size: 22px;
    position: relative;
    text-align: center;
    top: 24px;
}
.newstitle {
    font-family: 'Helvetica';
    font-size: 18px;
}
.newstitle {
    color: #333333;
    font-family: 'Helvetica';
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.newssubtitle {
    font-family: 'Liberation Sans Narrow';
    font-size: 17px;
    color: #EC8B00;
}
.newssubtitle {
    font-family: 'Liberation Sans Narrow';
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 5px;
}
.newscont {
    font-size: 13px;
}
.foote-wrapper {
    clear: both;
    float: left;
    width: 100%;
    background: url(../assets/footer_bg.jpg) repeat left top;/*	 background: url("../assets/footer_bg.jpg") repeat-x scroll left top #000000;*/
}
.footerbelow1 {
    float: left;
    margin-right: 1%;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 24%;
}
.footerbelow2 {
    float: left;
    width: 21%;
    margin-right: 1%;
    padding-bottom: 50px;
    padding-top: 50px;
}
.footerbelow3 {
    float: left;
    width: 27%;
    margin-right: 3%;
    padding-bottom: 50px;
    padding-top: 50px;
}
.footerbelow4 {
    float: left;
    width: 23%;
    padding-bottom: 14px;
    padding-top: 50px;/*margin-right:1%;*/
}
h3.footerheadd {
    color: #EC8B00;
    font-family: 'Helvetica';
    font-size: 16px;
    opacity: 0.7;
    padding-bottom: 20px;
    padding-top: 0;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    /* IE 5-7 */
    filter: alpha(opacity=70);
    /* Netscape */
    -moz-opacity: 0.7;
    /* Safari 1.x */
    -khtml-opacity: 0.7;

    margin-bottom: 0px;
    margin-top:0px;
    font-weight: normal;
}
h3.footerheadd a:hover {
    color: #EC8B00;
}
h3.footerheaddnew {
    color: #EC8B00;
    font-family: 'Helvetica';
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 16px;
    opacity: 0.7;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    /* IE 5-7 */
    filter: alpha(opacity=70);
    /* Netscape */
    -moz-opacity: 0.7;
    /* Safari 1.x */
    -khtml-opacity: 0.7;
    margin-top:0px;
    margin-bottom: 0px;
    font-weight:normal;
}
.bigtextspan {
    font-size: 16px;
}
h3.legalhead {
    margin-top: 15px;
}
.footerul{
    padding-left: 0px;
    margin-top:0px;
}
.footerul li {
    padding-top: 5px;
    padding-bottom: 5px;
}
.footerul li a {
    color: #999999;
    font-size: 13px;
    font-family: arial;
    text-decoration: none;
}
.smaltext {
    font-size: 16px;
    color: #fff;
}
.common-gray-button {
    background: #383836;
    padding: 5px;
    color: #cccccc;
    text-transform: uppercase;
    font-size: 13px;
    border: solid 1px #383836;
    cursor: pointer;
    width: 100px;
}
.common-gray-button:hover {
    background: #EC8B00;
    opacity: 0.7;
    color: #FFF;
}
.gray-newsletter {
   /* margin: 0 0 0 -4px;*/
   margin:0px;
}
.common-input {
    background: #0e0e0e;
    font-size: 13px;
    border: solid 1px #2f2f2f;
    padding: 6px;
    color: #999999;
    width: 161px;
    font-family: arial;
}
.common-inputbig {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
.inputdiv{
    padding-top:5px;
}
.inputdivdown {
    padding-bottom: 10px;
    padding-top: 17px;
}
.linkedin {
    border-bottom: 1px solid #2F2F2F;
    float: left;
    padding-bottom: 12%;
    padding-top: 5%;
    width: 100%;
}
.footerbelow3 .linkedin {
    padding-bottom: 31px;
    padding-top: 12px;
}
.footerbelow3 .inputdivdown.seperatorr {
    padding-bottom: 13px;
    padding-top: 0;
}
.seperatorr {
    border-bottom: 1px solid #2F2F2F;
    padding-bottom: 10px;
}
.alignimg {
    position: relative;
    top: 10px;
    left: 4px;
    margin-right:5px;
}
.inputdivcommon {
    padding-bottom: 15px;
    font-size: 13px;
    padding-top:5px;
}
textarea.comntextarea {
    background: none repeat scroll 0 0 #0E0E0E;
    border: 1px solid #2F2F2F;
    color: #999999;
    resize: none;
    text-indent: 6px;
    width: 100%;
    font-size: 13px;
    font-family: arial;
    max-width: 100%;
    min-width: 100%;
    padding-top: 2px;
}
.foote-wrapper-copyright {
    width: 100%;
    clear: both;
    float: left;
    background: #0f0f0e;
}
.copyrightcommon {
    float: left;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}
.ccimg {
    position: relative;
    top: 3px;
    left: 5px;
    padding-right: 5px;
}
/*  slideshow top **/

/*.slides-container ul
{
	width:1024px;
	margin:0 auto;
	border:solid red 1px;
}*/

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    /* width: 1170px;*/
    width: 1054px;
    margin: 0 auto;
}
.fullslidere {
    float: left;
    width: 60%;
}
.slidrleft {
    width: 40%;
    float: left;
}
.homemenu {
    padding-left: 0;/*padding-right: 10px;*/
}
.slide-body a.whats-orange {
    font-size: 14px;
}
.copyrightcommon a {
    color: #666666;
    text-decoration: none;
}
.copyrightcommon a:hover {
    color: #999999;
}
.foote-wrapper a:hover {
    color: #EC8B00;
    opacity: 0.7;
}
.alignimg:hover, common-gray-button:hover {
    opacity: 0.5;
}
/* for bottom news slideshow **/

.full_container {
    width: 100%;
    background: #eaeae2;
}
.container {
    width: 1024px;
    margin: auto;
}
.slider_news {
    height: auto;
    width: auto;
    background: #eaeae2;
    clear: both;
    float: left;
}
.slider_main {
    height: auto;
    width: auto;
    background: #eaeae2;
    clear: both;
    float: left
}
.sizeFix {
    width: 45% !important;
    clear: none !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#slider1-wrapper.sizeFix {
    float: left !important;
}
#slider2-wrapper.sizeFix {
    float: right !important;
}
.hideForever {
    display: none !important;
}
.newsTitle {
    display: block;
    text-align: center;
    color: #333333;
    font-size: 18px;
    font-family: 'Helvetica';
}
.newsDate {
    display: block;
    text-align: center;
    color: #d96701;
    margin-top: 10px;
}
.newsDesc {
    display: block;
    text-align: center;
    color: #91908c;
    margin-top: 7px;
}
.buttons {
    height: auto;
    margin: auto;
    position: relative;
    top: -24px;
    width: 63px;
}
.nextpic {
    height: 30px;
    width: 27px;
    background: url(../assets/right_arrow.jpg) no-repeat center center;
    float: right;
    cursor: pointer;
    opacity: 0.4;
}
.prepic {
    height: 30px;
    width: 27px;
    background: url(../assets/left_arrow.jpg) no-repeat center center;
    float: left;
    cursor: pointer;
    opacity: 0.4;
}
.prepic:hover, .nextpic:hover {
    opacity: 1;
}
.htabpar {
    float: left;
    height: 200px;
    position: relative;
    top: -25px;
    width: 10%;
}
.htab {
    height: 168px;
    width: 1px;
    background: url(../assets/line.jpg) no-repeat top center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/* for bottom news slideshow **/

/* added newly for inner page **/
.innerbanner {
   /* background: url(../assets/inside_banner_bg.jpg) no-repeat top center;
    width: 100%;
    height: 125px;  */
}
.innerbannerZenith {
    /*background: url(../assets/inside_banner_bg02.jpg) no-repeat top center;
    width: 100%;
    height: 125px;  */
}

.contentfulll {
    width: 100%;
    margin: 30px auto;
    float: left;
}
.contentsection {
    float: left;
    width: 66%;
    margin-right: 4%;
}
.sidebaright {
    float: right;
    width: 30%;
    margin-top: 4px;
}
.testimonial_right {
    background: url(../assets/news_bgnew.jpg) repeat-x scroll left top #EBEAE2;
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 12%;
}
.inner_testimonial {
    clear: both;
    float: left;
    font-size: 13px;
    padding-bottom: 14%;
    padding-left: 7%;
    padding-top: 10%;
    width: 93%;
}
.inner_testimonial.inner_testimonial_mobile {
    display: none;
}
.testi80 {
    background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    float: left;
    margin-bottom: 5px;
    padding: 5px 0 8px 5px;
    width: 80%;
}
.testi60 {
    background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    float: left;
    margin-bottom: 5px;
    padding: 5px 0 8px 5px;
    width: 66%;
}
.testi40 {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin-bottom: 5px;
    padding: 5px 0 8px 5px;
    width: 52%;
}
.lastdiv {
    clear: both;
    float: left;
    margin: 0;
    width: 100%;
}
.imageright {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    float: left;
    left: 4px !important;
    padding: 5px 5px 3px;
    position: relative;
}
.givenby {
    clear: both;
    float: left;
    margin-top: 7px;
}
.imagedivv {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin-bottom: 3px;
    padding: 5px 5px 8px;
}
.imagedivv > img {
    float: left;
}
.plainbgright {
    background: url(../assets/shaddow.png) no-repeat scroll center bottom #EBEAE2;
    padding-bottom: 20%;
    padding-left: 7%;
    padding-top: 10%;
    float: left;
    clear: both;
    width: 93%;
}
/***** Drop down menu ***/
.menu_ulist li a {
    cursor: pointer;
    text-decoration: none;
    width: 100%;
}
.fulldivmenu {
    clear: both;
    float: left;
    margin-left: 5%;
    width: 100%;
    margin-top: 2%;
}
.menudiv50 {
    float: left;
    padding-right: 1%;
    width: 49%;
}
.submenu-box {
    display: table;
    float: left;
    padding: 2% 4%;
    width: 92%;
}
.imagebox {
    display: table-cell;
    float: none;
    padding-right: 3%;
    vertical-align: middle;
    width: 19%;
}
.imagebox :hover {
    /*background:red;*/
}
.submenu-box:hover {
    background: #EBEAE2;
}
.submenubox {
    display: table-cell;
    float: none;
    padding-left: 1%;
    vertical-align: middle;
    width: 77%;
}
.submenubox h1 {
    color: #333333;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
}
.submenubox p {
    color: #666666;
}
.header-submenu-wrap {
    clear: both;
    display: none;
    float: left;
    left: 0;
    position: absolute;
    top: 85px;
    width: 100%;
    border-bottom: 8px solid #C8C5B0;
    z-index:9999;
}
.sublink-multiple-dropdown-outer {
    background: url(../assets/menu_bg.png) repeat;
    /* background: none repeat scroll 0 0 #EDEDED;*/
    clear: both;
    float: left;
    position: relative;
    top: 0px;
    width: 100%;
    z-index: 12;
}
.submenu-dropdown-shadow {
    width: 100%;
    position: relative;
    top: 22px;
    clear: both;
    float: left;
    background: url(../assets/sub_menu_shadow.png) repeat-x 0 0 transparent;
}
.sublink-multiple-wrapper {
    clear: both;
    margin: 0 auto;
    width: 638px;
}
.rightnewstitle {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-left-radius: 59px;
    border-bottom-right-radius: 59px;
    bottom: 44px;
    height: 51px;
    left: -88px;
    margin: 0 auto;
    position: relative;
    width: 85px;
}
.newsinnerbody {
    color: #333333;
    font-family: 'Helvetica';
    font-size: 22px;
    position: relative;
    text-align: center;
    top: 12px;
}
.InnerPlainbgRight {
    clear: both;
    float: left;
    font-size: 13px;
    padding-bottom: 14%;
    padding-left: 7%;
    padding-right: 7%;
    position: relative;
    top: -48px;
    width: 86%;
}
.NewsContiner {
    float: left;
    width: 100%;
    clear: both;
}
.NewsContent {
    border-bottom: 1px solid #FFFFFF;
    clear: both;
    float: left;
    padding-bottom: 9%;
    padding-top: 9%;
    width: 100%;
}
.NewsHeading {
    clear: both;
    color: #333333;
    font-family: 'Helvetica';
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 2px;
    margin-top: 0;
}
.NewsSubHeading {
    clear: both;
    color: #EC8B00;
    font-family: Arial;
    font-size: 13px;
    margin-bottom: 6px;
    margin-top: 0;
    font-weight: normal;
}
.NewsContiner p {
    clear: both;
    color: #666666;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
}
.BorderNone {
    border: none !important;
}
.MoreNews {
    float: left;
    clear: both;
    width: 100%;
}
.MoreNews .whats-orange {
    padding: 2px 7px;
}
.breadcrumbs_menu {
    float: left;
    width: 100%;
}
.breadcrumbs_menu li {
    display: inline;
    float: left;
    margin-right: 3px;
}
.breadcrumbs_menu li a {
    background: none repeat scroll 0 0 #EBEAE2;
    color: #999999;
    font-size: 12px;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    line-height: 21px;
}
.breadcrumbs_menu li a:hover {
    color: #EC8B00;
}
.breadcrumbs_menu li strong {
    background: none repeat scroll 0 0 #EBEAE2;
    color: #333333;
    font-size: 12px;
    font-weight: normal;
    line-height: 21px;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
}
.UpperContentSection {
    border-bottom: 1px solid #EBEBE2;
    clear: both;
    float: left;
    padding-bottom: 4%;
    padding-top: 3%;
    width: 100%;
}
.leftrightContainer {
    float: left;
    width: 100%;
    margin-top: 6px;
}
.leftContentSection {
    float: left;
    margin-right: 4%;
    width: 48%;
}
.RightContentSection {
    float: left;
    width: 48%;
}
.ContentImage {
    border: 8px solid #EBEBE2;
    float: left;
}
.ContentImage img {
    float: left;
    width: 100%;
}
.RightContentSection p {
    font-size: 14px;
    text-align: left;
    margin-bottom: 8px;
    float:left;
    margin-top:0px;
}
.fontsize13, .RightContentSection p.fontsize13 {
    font-size: 13px;
}
.fontsize14, .RightContentSection p.fontsize14 {
    font-size: 14px;
}
.contentheading {
    color: #EC8B00;
    font-family: 'Helvetica';
    font-size: 25px;
    font-weight: normal;
    line-height:26px;
}
.subcontentheading {
    color: #EC8B00;
    font-family: 'Helvetica';
    font-size: 19px;
    line-height: 21px;
}
.headerSection {
    float: left;
    padding-bottom: 6%;
    width: 100%;
    position: relative;
}
.headerSectionPart {
    background: none repeat scroll 0 0 #EBEBE2;
    float: left;
    padding: 2% 1% 2% 2%;
    width: 97%;
}
.headerSectionPart img {
    float: left;
    margin-right: 5px;
    margin-top: 4px;
}
.RightheaderSectionPart {
    background: none repeat scroll 0 0 #EBEBE2;
    float: left;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-top: 3%;
    width: 97%;
}
.RightheaderSectionPart p {
    color: #333333;
    float: left;
    font-size: 15px;
}
.RightheaderSectionPart img {
    float: left;
    margin-right: 5px;
    margin-top: 4px;
}
.headerSectionPart p {
    color: #333333;
    float: left;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top:0px;
}
.RightcontentHeaderSection {
    float: left;
    padding-top: 7%;
    width: 100%;
}
.RightcontentHeaderSection p {
    font-size: 13px;
    margin-bottom: 7px;
    text-align: left;
}
.contentHeaderSection {
    float: left;
    padding-top: 3%;
    width: 100%;
}
.contentHeaderSection p {
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    margin-bottom: 8px;
    margin-top:0px;
}
.ullist {
    float: left;
    margin-bottom: 0;
    margin-top: 5px;
    padding-left: 0;
    width: 100%;
}
.ullist li {
    background: url("../assets/list.jpg") no-repeat scroll 0 4px rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    padding-left: 13px;
}
.ullist li span {
    font-size: 13px;
}
.breadcrumbul {
    clear: both;
    float: left;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}
.horizontalLine {
    background: none repeat scroll 0 0 #EBEBE2;
    border: medium none;
    color: #EBEBE2;
    height: 1px;
}
.breadcrumbs_menu .horizontalLine {
    margin: 10px 0;
}
.navi-menu.homemenu {
    background: none repeat scroll 0 0 #EC8B00;
}
.navi-menu.homemenu a {
    padding: 13px 8px;
    width:96%;
}
.sidebarmenu {
    border-top: 1px solid #EBEBE2;
    float: left;
    margin-bottom: 12%;
    width: 100%;
    margin-top:6px;
}
.sidebarmenuheading {
    background: none repeat scroll 0 0 #E1DFD3;
    color: #333333;
    float: left;
    font-family: helvetica;
    font-size: 18px;
    margin-bottom: 1%;
    margin-top: 1%;
    padding-bottom: 6%;
    padding-left: 7%;
    padding-top: 6%;
    width: 93%;
}
.sidebarmenuheading h1 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
}
.sidebarmenutypes {
    clear: both;
    float: left;
    margin-bottom: 1%;
    width: 100%;
}
.sidebarmenutypes a {
    background: none repeat scroll 0 0 #E1DFD3;
    color: #333333;
    float: left;
    font-family: arial;
    font-size: 14px;
    padding: 3% 0 3% 7%;
    text-decoration: none;
    width: 93%;
}
.sidebarmenutypes a:hover, .activesidebarmenu a {
    background: none repeat scroll 0 0 #333333;
    border-left: 5px solid #EC8B00;
    color: #FFFFFF;
    padding: 3% 0 3% 5%;
    width: 93.2%;
}
.submenu-box .hideImage {
    display: none;
}
.pragraph {
    float: left;
    font-size: 13px;
    padding-bottom: 2%;
    padding-top: 1%;
    width: 100%;
    margin-bottom: 0px;
}
.InnerleftContentSection {
    float: left;
    width: 48%;
    margin-right: 4%
}
.InnerRightContentSection {
    float: left;
    width: 48%;
}
.headerImage {
    border: 8px solid #EBEBE2;
    float: left;
    margin-top: 2.9%;
}
.bottomContentSection {
    float: left;
    width: 100%;
}
.bottomheader {
    width: 45%;
    float: left;
    background: none repeat scroll 0 0 #EBEBE2;
    padding: 1% 1% 1% 2%;
}
.bottomheader p {
    color: #333333;
    float: left;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.bottomheader img {
    float: left;
    margin-right: 5px;
    margin-top: 4px;
}
.imagecontainer {
    float: left;
    width: 100%;
    border-top: 1px solid #EBEBE2;
}
.imagecontainer .headerImage {
    margin-right: 2.9%;
}
.imagecontainer .headerImage:last-child {
    margin-right: 0;
}
.headerImage img {
    float: left;
    width: 100%;
}
.thumbhover {
    background: none repeat scroll 0 0 #000000;
    bottom: 35px;
    color: #FFFFFF;
    left: 10px;
    opacity: 0.5;
    position: absolute;
    right: 0;
    width: 100%;
    display: none;
}
.thumbhover > p {
    margin-bottom: 0;
    margin-top: 0;
}
.projectContiner {
    float: left;
    margin-right: 6%;
    padding-bottom: 4%;
    position: relative;
    width: 46%;
}
.projectContiner .headerTittle {
    font-size: 15px;
    font-weight: bold;
    width: 100%;
}
.projectContiner .headerTittle span {
    font-size: 13px;
    font-weight: normal;
}
.projectContiner .headerImage {
    width: 100%;
}
.projectContiner:nth-child(even) {
    margin-right: 0;
}
.backnext {
    border-bottom: 1px solid #EBEBE2;
    border-top: 1px solid #EBEBE2;
    float: left;
    width: 100%;
    padding: 1% 0;
}
.backnext .more-gray {
    float: left;
}
.backnext .whats-orange {
    float: left;
    margin-right: 5px;
}
.bwWrapper {
    position: relative;
    display: block;
}
/***pop up continer***/
.Innerpopupopen {
    float: left;
    width: 100%;
}
.ContentDetail {
    float: left;
    margin-left: 4%;
    width: 50%;
}
.clientRow {
    float: left;
    margin-bottom: 6%;
    width: 100%;
}
.Client {
    background: none repeat scroll 0 0 #EBEBE2;
    clear: both;
    float: left;
    font-family: helvetica;
    font-size: 15px;
    margin-bottom: 1%;
    padding: 2% 1% 2% 2%;
    width: 20%;
}
.Clientname {
    float: left;
    font-size: 13px;
    width: 100%;
}
.Clientname a {
    clear: both;
    color: #666666;
    float: left;
    font-size: 13px;
    line-height: 17px;
    text-decoration: none;
}
.Clientname a:hover {
    color: #EC8B00;
    text-decoration: underline;
}
.projectInformation .headerTittle {
    font-size: 20px;
    width: 100%;
    padding: 2% 0 1%;
    color: #EC8B00;
    float: left;
    border-bottom: 1px solid #EBEBE2;
    font-family: 'Helvetica';
    font-weight: normal;
}
.projectInformation .headerTittle span {
    font-size: 13px;
    font-weight: bold;
    color: #666666;
}
.projectDetail {
    float: left;
    padding-top: 2%;
    width: 100%;
}
.projectDetail p {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 15px;
    text-align: left;
    margin-top:0px;
}
.sidebarmenu .headerImage:nth-child(3) {
    margin-right: 0px;
}
.headerImage.additionalimage {
    background: url("../assets/pluse.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    float: left;
    height: 85px;
    width: 95px;
}
.headerImage.additionalimage:hover {
    background: url("../assets/plusehover.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.fullheadersection {
    float: left;
    width: 100%;
    border-bottom: 1px solid #EBEBE2;
}
.fullheadersection .headerSectionPart {
    background: none repeat scroll 0 0 #EBEBE2;
    padding: 1% 1% 1% 2%;
    width: 45%;
}
.headerImage.innerpadding {
    padding: 12% 5%;
    width: 90%;
    position: relative;
}
.blacksmall {
    background: url("../assets/smallblack.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 30px;
    left: -7px;
    position: absolute;
    top: -8px;
    width: 125px;
}
.blacklarge {
    background: url("../assets/largeblack.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 30px;
    left: -7px;
    position: absolute;
    top: -8px;
    width: 215px;
}
.blacksmall p, .blacklarge p {
    color: #FFFFFF;
    float: left;
    font-family: Helvetica;
    font-size: 16px;
    margin-left: 16px;
    margin-top: 6px !important;
    margin-bottom: 0px;
}
.pragraph p {
    float: left;
    font-weight: bold;
}
.pragraph p a {
    font-weight: normal;
    color: #666666;
}
.pragraph p a:hover {
    color: #EC8B00;
    text-decoration: none;
}
.ImageTitle {
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-left:0%;
    margin-top: 2.9%;
    width: auto;
}
.menudiv50 a {
    padding: 0px;
}
.sidebarmenuheading p {
    font-size: 13px;
    line-height: 16px;
    color: #666666;
    margin-top: 6px;
    margin-bottom: 0px;
}
.sidebarbg {
    background: none repeat scroll 0 0 #E1DFD3;
    color: #333333;
    float: left;
    font-family: helvetica;
    font-size: 18px;
    margin-bottom: 1%;
    margin-top: 1%;
    padding-bottom: 6%;
    padding-left: 7%;
    padding-top: 6%;
    width: 93%;
}
.tab {
    float: left;
    width: 100%;
}
.tab_type {
    float: left;
    width: 100%;
}
.tab_type ul {
    float: left;
    width: 100%;
    padding-left: 0px;
    margin-bottom:0px;
    margin-top: 0px;
}
.tab_type li {
    background: none repeat scroll 0 0 #0F0F0E;
    float: left;
    margin-right: 1.3%;
    padding: 1%;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 15px;
}
.tab_type li:last-child {
    margin-right: 0;
}
.tab_searchContainer {
    background: none repeat scroll 0 0 #E1DFD3;
    float: left;
    padding: 2% 3%;
    width: 94%;
}
.tab_type li:hover, .tab_type li.selected_tab {
    background: none repeat scroll 0 0 #EC8B00;
}
.tab_search {
    float: left;
    width: 100%;
}
.heading {
    color: #333333;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top:0px;
}
.ullist.utab li {
    background: url("../assets/dot.jpg") no-repeat scroll 0 4px rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    padding-left: 13px;
}
.tablist {
    float: left;
    width: 100%;
}
.tablist .ullist.utab {
    float: left;
    width: 50%;
}
.greyBoxTextArea {
    width: 100%;
    height: auto;
    padding: 15px 20px;
    text-align: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: none repeat scroll 0 0 #ebeae2;
}
.greyBoxTextArea > .greyBoxHeading {
    color: #666666;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}
.greyBoxTextArea > .greyBoxParagraph {
    color: #666666;
    font-family: arial;
    font-size: 13px;
}
.greyBoxTextArea > .greyBoxContact {
    color: #666666;
    font-family: arial;
    font-size: 13px;
}
.mt15 {
    margin-top: 15px;
}
.ZMTDocumentTable {
    min-height: 30px;
    width: 100%;
    clear: both;
    float: left;
}
.ZMTDocumentTable > .ZMTCell {
    width: 50%;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.ZMTDocumentTable > .ZMTCell p {
    padding: 8px 5px;
    margin-bottom: 0px;
    margin-top:0px
}
.ZMTCell.header p {
    color: #333333;
    float: left;
    font-size: 15px;
    padding: 2% 1% 2% 2%;
    margin-bottom: 0px;
    margin-top:0px;
}
.ZMTCell.header img {
    float: left;
    margin: 10px 5px;
}
.VLCbg {
    background: none repeat scroll 0 0 #E1DFD3;
}
.VLCborderbottom {
    border-bottom: 1px solid #EBEBE2;
}
.marginBottomZero {
    margin-bottom: 0;
}
.subSideMenu a {
    border-left: 5px solid #E1DFD3;
}
.subSideMenu a:hover {
    color: #EC8B00;
    background: #444444;
}
/*****balraj***/
.slidebarcontact{
    background: none repeat scroll 0 0 #EBEAE2;
    float: left;
    padding-bottom: 6%;
    padding-left: 7%;
    padding-top: 6%;
    width: 93%;

}
.slidebarcontact p{
    font-weight: bold;
    color: #666666;
    float:left;
    margin-top:0px;
    margin-bottom: 0px;
}

.slidebarcontact p a{
    color: #666666;
    text-decoration: underline;
    margin-left:2px;
}
.slidebarcontact p a:hover{
    color:#EC8B00;
    text-decoration: none;;
}
.addressdivcity{
    width:100%;
    padding-top:4%;
    float:left;
}
.cityaddressparent{
    width:100%;
    float:left;
    padding-top:1%;
    padding-bottom:4%;
}
.cityaddress{
    width:20%;
    float:left;
}
.cityaddressright{
    margin-right:19%;
}
.cityaddress div{
    font-weight:bold;
    color:#333333;
    font-size:14px;
}
.contectnumbers{
    float:left;
    width:100%;
    border-top:1px solid #EBEBE2;
    border-bottom:1px solid #EBEBE2;
    padding:2% 0;
}
.contactnoparent{
    float:left;
    width:38%;
}
.contectnumbers span:first-child{
    float:left;
    font-weight:bold;
    color:#666666;
    margin-right:1%;
}
.contectnumbers span:nth-child(2){
    float:left;
    margin-right:1%;
}
.contectnumbers span:nth-child(3){
    float:left;
    margin-right:1%;
}

.careerparagraph{
    float: left;
    font-size: 15px;
    line-height: 17px;
    width: 100%;
}
.padbot{
    padding-bottom:6%;
}
.padtop{
    padding-top:12%;
}
.lastpara{
    float:left;
    width:80%;
    color: #666666;
    float: left;
    font-size: 13px;
    padding-bottom: 2%;
    padding-top: 3%;
    width: 80%;
    clear:both;
}
.contentHeaderSections p a {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: underline;
    -moz-text-decoration-style: solid;
    color: #666666;
    margin-left: 2px;
}

.contentHeaderSections p a:hover {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    color: #EC8B00;
    cursor:pointer;
}
.orwidth{
    width:8%;
}
.martop{
    margin-top:3%;
    float:left;
}
.clear{
    clear:both;
}
.arrowicon{
    float: left;
    margin-top: 16px;
    position: relative;
    width: 100%;
}
.arrowicon > img {
    position: absolute;
    right: 75px;
    top: -32px;
    z-index: 9999;
}
.menuActive{
    background: none repeat scroll 0 0 #EC8B00;

}
.menuActive a{
    color:#ffffff ;
}
/*****12th dec***/
.activesubSidemenu a{
    background: none repeat scroll 0 0 #444444;
    color:#EC8B00;
}
.downloadBrochure {
    background: none repeat scroll 0 0 #E1DFD3;
    float: left;
    text-align: center;
    width: 100%;

}
.downloadBrochure:hover{
    background: none repeat scroll 0 0 #333333;

}
.downloadBrochure:hover a{
    color:#ffffff;
}
.downloadBrochure a{
    text-decoration:none;
    /*padding: 13% 2%;*/
     padding: 8% 11%;
    float:left;
    font-family: arial;
    font-size: 14px;
    color: #333333;

}
.ModelStatistics{
    float:left;
    width:100%;
    border-top: 1px solid #EBEBE2;

}
.ModelStatistics .colorHeading{
    float:left;
    width: 44%;
    background: none repeat scroll 0 0 #E1DFD3;
    padding: 1% 0 1% 4%;
    text-align: left;
    margin-right:4%;
}
.ModelStatistics .blankHeading{
    float:left;
    width:48%;
    padding: 1% 0;
}
.cityaddress p {
    color: #666666;
    font-size: 13px;
    margin-bottom: 0px;
    margin-top:0px;
}
.Quickheading{
    color: #666666;
    font-size: 19px;
    line-height: 27px;
}
.addressdivcity.quickborder {
    border-bottom: 1px solid #EBEBE2;
    border-top: 1px solid #EBEBE2;
    margin-top: 27px;
    padding-bottom: 0;
    padding-top: 2%;
}
.biggerparagraph{
    float:left;
    font-size: 14px;
    margin-bottom: 12px;
    text-align: left;
}
.anchorclass{
    text-decoration:underline;
    color:#666666;
}
.anchorclass:hover{
    color:#EC8B00;
    text-decoration:none;

}
.editorbody {
    background: none repeat scroll 0 0 #EDEDED;
    border: 1px dotted #CCCCCC;
    float: left;
    padding: 2% 3%;
    width: 94%;
    margin-top: 10px;
}
.rubycodeContiner{
    float:left;
    width:100%;

    border-bottom: 1px solid #EDEDED;
    padding: 1% 0;
}
.rubycodeContiner .headerImage.innerpadding{
    padding: 6% 5%;
}
.rubycodeContiner .projectContiner{
    margin-bottom: 12px;
    margin-top: 12px;
    padding-bottom: 0;
}
.rubycodeContiner a{
    float:left;
    clear:both;
}
/******13th dec**/
.cutomerrow {
    border: 1px solid #EDEDED;
    float: left;
    padding: 3% 0;
    width: 33%;
}
.cutomerrow img{
    float:left;
    width:100%;
}
.testimonial_right.clientReview{
    float: left;
    margin-bottom: 0;
    padding: 6% 0 6% 3%;
    width: 97%;
}
.testimonial_right.clientReview .headerImage{
    border-color: #FFFFFF;
    margin-right: 1%;
    margin-top: 0;
    width: 12%;
    margin-bottom: 4px;
}
.testimonial_right.clientReview .inner_testimonial{
    clear:none;
    padding-left:0;
    width:84%;
    padding-bottom:0px;
    padding-top:0px;
}

/*****16th Dec****/
.search {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    margin-bottom: 8px;
    padding: 2%;
}
.projectBox {
    border: 8px solid #EBEBE2;
    float: left;
    margin-bottom: 10px;
    margin-right: 2%;
    padding: 2%;
    width: 42%;
}
.projectBox:nth-child(2n) {
    margin-right: 0;
}
.ImageTitle > span {
    color: #EC8B00;
}
.projectBoxContainer{
    float:left;
    width:100%;
}

#body_content_title{
    display: none
}
.navi-menu.homemenu.homeinactive {
    background: none repeat scroll 0 0 #FFFFFF;
}
.testimonial_right.clientReview.tetimonialmiddle{
    padding: 2% 0 2% 3%;
}
p.nojustify{
    text-align:left;
}

.additionalimage a
{
    display: block;
    height: 85px;
    width: 95px;
}
/***20th dec***/
.sitemapMain {
    float: left;
    width: 100%;
}
.site_map_main_row {
    float: left;
    width: 100%;
}
.site_map_boxes {
    float: left;
    width: 30.6%;
    margin-right:4%;
}
.site_map_boxes.last{
    margin-right:0;
}
.site_map_boxes .headerSectionPart p a, .site_map_boxes .contentHeaderSection .ullist li a{
    text-decoration:none;
    color:#333333;
}
.site_map_boxes .headerSectionPart p a:hover, .site_map_boxes .contentHeaderSection .ullist li a:hover{
    color:#EC8B00;

}
.site_map_boxes .contentHeaderSection{
    width: 98%;
    padding-left: 2%;
}
.ullist.ulistsitemap{
    float:left;
    margin-left:2px;
}
.ullist.ulistsitemap {
    float: left;
    margin-left: 5%;
    width: 95%;
}
.ullist.ulistsitemap li span{
    font-size:12px;
}
.site_map_boxes .headerSectionPart{
    margin-bottom: 5px;
}
.site_map_boxes .contentHeaderSection {
    margin-bottom: 20px;
}
label.error {
    color: #EC8B00;
    float:left;
}
.contentbottomfull a, .contentbottomfull a .moduleheading {
    text-decoration: none;
}
.contentbottomfull a:focus, .contentbottomfull a:active {
    outline:none;
}
.contentbottomfull .more-lindiv .more-gray {
    font-size: 14px;
}
.leftrightContainer .contentHeaderSection .ullist li {
    margin-bottom: 5px;
}

.a-link {
    color: #EC8B00;
    text-decoration: underline;
}

.a-link:hover {
    color: #333333;
    text-decoration: none;
}
.greyBoxTextArea .greyBoxContact a {
    color: #EC8B00;
    text-decoration: underline;
}
.greyBoxTextArea .greyBoxContact a:hover {
    color: #333333;
    text-decoration: none;
}
.tab_searchContainer .tab_search {
    text-align: left;
}
.testimonial_right.clientReview .inner_testimonial .testi80 {
    width: auto;
    padding: 7px 5px;
}
.projectContiner .headerImage .blacklarge p {
    margin-left: 11px;
}
.projectContiner_outer {
    clear: both;
    float: left;
    width: 100%;
}
.ImageTitle.specialEvents-places {
    position: relative;
    top:0px;
}
.site_map_boxes .ullist li {
    clear: both;
    float: left;
}
.padingTopZero {
    padding-top: 0;
}

textarea:focus, input:focus{
    outline: 0;
}
input::-webkit-input-placeholder{
    color:#999999;
}
textarea::-webkit-input-placeholder{
    color:#999999;
}
input:focus::-webkit-input-placeholder {
    color:transparent;
}

/* Mozilla Firefox 4 to 18 */
input:focus:-moz-placeholder {
    color:transparent;
}

/* Mozilla Firefox 19+ */
input:focus::-moz-placeholder {
    color:transparent;
}

/* Internet Explorer 10+ */
input:focus:-ms-input-placeholder {
    color:transparent;
}
textarea:focus::-webkit-input-placeholder {
    color:transparent;
}

/* Mozilla Firefox 4 to 18 */
textarea:focus:-moz-placeholder {
    color:transparent;
}

/* Mozilla Firefox 19+ */
textarea:focus::-moz-placeholder {
    color:transparent;
}

/* Internet Explorer 10+ */
textarea:focus:-ms-input-placeholder {
    color:transparent;
}
textarea {
    overflow: auto;
}
.common-gray-button{
    height:30px;
}
a {
    outline: 0;
}
.contentheading.mainHeading{
     margin-bottom: 10px;
}
.video-embed-wrapper {
   clear: both;
    float: left;
    margin-bottom: 14px;
    margin-top: 2px;
    width: 100%;
}

p.emailtop{
    float:none;
    margin-top:0px;
    margin-bottom: 0px;
}
.image-maps-wrapper{
      width:100% !important;

}
/*.innerbanner img.InnerBnannerImages {
    float: left;
    height:auto !important;
    width: 100%;
} */

.lastpara.review{
    text-align: left;
    width: 100%;
}
/****inner banner styles****/

.innerbanner, .innerbannerZenith {
     background: url(../assets/new_inside_banner_bg.jpg) no-repeat top center;
     width: 100%;
     height: 125px;
    float:left;
}
.innerbanner img{
    float:left;
    width:100%;
}
.innerTextDiv{
    float:left;
    width:50%;
    position:relative;
}
.innerTextDivRow {
    background: none repeat scroll 0 0 #101113;
    clear: both;
    color: #FFFFFF;
    float: left;
    font-family: helvetica;
    font-size: 17px;
    margin-bottom: 2px;
    padding: 8px 4px;
}
.InnerBoxContainer {
    float:left;
    width:100%;
    margin-top: 30px;
}
.InnerzenithLogo {
    float: right;
    margin-top: 38px;

}
.InnerzenithLogo img{
    float:left;
    width:100%;
    position: relative;
}
.innerImageBanner{
    float:left;
    width:100%;
}
.innerImageBanner .innerTextDiv{
               width:100%;
}
.innerImageBanner.zenithInnerImageBanner .innerTextDiv{
    width: 75%;
}

/****inner banner styles****/
.ZMTCell p a:hover{
   text-decoration: none;
   color: #333333;
}

/***customer testimonial****/
.whitetestimonialContainer{
    float:left;
    display:none;
    padding: 10px 0;
}

.ulist.subulistsitemap {
    float: left;
    margin-left: 6%;
    width: 90%;
    padding-left: 0px;
}
.ulist.subulistsitemap li span{
    color:#333333;
}

/***7th jan***/
.sliderimages{
    float:left;
    width:100%;
    padding-top: 15px;
}

.sliderimageRow{
    float:left;
    width:24%;
    margin-right: 8px;

}
.sliderimageRow.lastslider{
	margin-right:0px;
}
.sliderimageRow img{
    float:left;
    width:100%;
}
.Innerpopupopen iframe{
    width:100%;
    float:left;
}

.headerImage.projectSelect.selected_project{
	border: 8px solid #EC8B00;
}
p.AlignLeft{
    text-align: left !important;
}
.outdoorContact .cityaddress{
    width:100%;
}
.BelowSpace{
    margin-bottom:15px;
}
.anchor:hover{
    text-decoration: none;
    color:#333333;
}
.headerImage.innerpadding > p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 13px;
}
.leftrightContainer p{
    margin-top:0px;
    float:left;
}
.colorHeading p, .blankHeading p{
    margin-bottom: 0px;
}
.rubycodeContiner p{
    margin-bottom: 0px;
}
.sidebarmenu .greyBoxParagraph p{
    margin-bottom:5px;
    margin-top:0px;
}
.pragraphFormate p{
    clear:both;
}
.paragraphTopBottom{
    padding-top:0px;
    padding-bottom: 0px;
    margin-bottom: 8px;
    margin-top: 0;
}

/****refinery changes**/
.text-align-center{
    text-align: center;
    width:100%;
    float: left;
}
.text-align-left{
    text-align: left;
    width:100%;
    float: left;
}
.text-align-right {
    float: left;
    text-align: right;
    width: 100%;
}
.text-align-justify {
    float: left;
    text-align: justify;
    width: 100%;
}
.font-size-small {
    font-size: 80%;
}
.font-size-normal {
    font-size: 100%;
}
.font-size-large {
    font-size: 150%;
}

/****refinery changes**/

.contentHeaderSection.contentheaderpadding {
    padding-bottom:2%;
    padding-top:1%;
}
.contentHeaderSection.otherspectialcontent{
    padding-top:2%;
}
.ullist.marginulist {
   margin-bottom: 10px;
   margin-top: 0;
}
.subcontentheading.adjustmarginheading{
    float:left;
    margin-bottom:5px;
    margin-top:5px;
}
.leftrightContainer.marginleftrightcontainer{
    margin-bottom: 18px;
}
p.paragraphtopbottom {
    float: left;
    margin-bottom: 5px !important;
    margin-top: 10px !important;
}
.addressdivcity.quickborder.adressmargintop{
    margin-top: 5px;
}
.RightContentSection.sub-desc-page > p {
    margin-bottom: 0;
    margin-top: 5px;
}
p.margin-history{
    margin-bottom: 3px;
    margin-top:2px;
}
.contentheading.customerheading {
    float: left;
    margin-bottom: 5px;
    margin-top: 18px;
}
.careerparagraph.margincareers {
    margin-bottom: 7px;
    margin-top: 5px;
}