/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Header section*/



.header-left {
	width: 100%;
	text-align: center;
}
.header-right {
	top: 0px;
	width: 100%;
}
/* Header section*/

/* Menu section*/
.header-submenu-wrap {
	display: none !important;
}
.menutoggle {
	background: none repeat scroll 0 0 #E89513;
	color: #FFFFFF;
	display: block;
	margin-bottom:0px;
	padding: 1%;
	text-align: center;
	width: 98%;
	cursor: pointer;
}
.menu_ulist {
	display: none;
}
.menu_ulist {
	margin-top: 0px;
	width: 100%;
	margin-bottom: 10px;
}
.menu_ulist li {
	width: 100%;
	text-align: center;
	padding: 0px;
}
.menu_ulist li a {
	float: none;
	padding: 5px 0px;
	margin: auto;
	display: inline-block;
	width: 100%;
}
.menu_ulist li a {
	background: #e9eaea;
	border-bottom: 1px solid #999999;
}
.menu_ulist li a:hover {
	color: #E89513;
}
/* Menu section*/

/* Slideshow section*/

.caption {
	white-space: normal !important;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: auto;
	border: solid red 0px;
}
.img-html5 {
	display: none;
}
.responsive-slider-parallax .slider-control.left,  .responsive-slider-parallax .slider-control.right {
	display: none;
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 {
	font-size: 20px !important;
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption.sub {
	font-size: 14px !important;
}
/* bottom 4 modules**/

.contentmodu1, .contentmodu2, .contentmodu3, .contentmodu4 {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 10px;
	text-align: center;
}
/* footer below 4 modulke**/

.footerbelow1, .footerbelow2, .footerbelow3, .footerbelow4 {
	clear: both;
	float: left;
	/*padding: 2% 5%;*/
	width: 100%;
}
.footerbelow1, .footerbelow2 {
	width: 90%;
	padding: 5%;
}
.footerbelow3, .footerbelow4 {
	width: 90%;
	padding: 5%;
}
/* copyright**/

.copyrightcommon .floatleft, .copyrightcommon .floatright {
	width: 100%;
	float: left;
	clear: both;
	text-align: center;
	margin-bottom: 10px;/*padding:0 1%;*/
}
.newsleft {
	width: 100%;
	float: left;
	clear: both;
}
.newsright {
	width: 100%;
	float: left;
	clear: both;
}
.borderr {
	display: none;
}
.newsmiddle {
	float: left;
	clear: both;
	width: 100%;
}
.responsive-slider-parallax .slides-container ul {
	white-space: nowrap;
}

.contentsection {
	border: solid red 1px;
	margin-right: 0;
	width: 100% !important;
}
.sidebaright {
	width: 100%;
}
.UpperContentSection {
	width: 100%;
}
.contentheading {
	font-size: 18px;
    line-height: 21px;
    text-align: left;
}
.leftrightContainer {
	width: 100%;
}
.leftContentSection {
	margin-right: 0;
	width: 100%;
}
.RightContentSection {
	width: 100%;
}
.RightContentSection p {
	font-size: 12px;
}
.headerSection {
	padding-bottom: 5%;
}
.RightheaderSectionPart {
	padding-bottom: 2%;
	padding-top: 2%;
}
.RightcontentHeaderSection {
	padding-top: 3%;
}
.ContentImage {
	margin-bottom: 7px;
}
.rightnewstitle {
	bottom: 36px;
	left: -152px;
}
.inner_testimonial {
	padding-top: 4%;
	padding-bottom: 8%;
}
.InnerPlainbgRight {
	top: -60px;
	padding-bottom: 0;
}
.plainbgright {
	padding-bottom: 0;
        background: none repeat scroll 0 0 #EBEAE2;
}

.rightnewstitle {
	right: 0px;
	left: 0px;
}
.subcontentheading {
	font-size: 16px;
	line-height: 19px;
}
.headerSectionPart p {
	font-size: 14px;
}
.NewsHeading {
	font-size: 17px;
}
.contentsection {
	margin-right: 0;
	width: 100% !important;
}
.content-top {
	font-size: 18px;
	line-height: 24px;
}
.content-bottom {
	color: #666666;
	font-size: 14px;
}
h3.footerheadd, h3.footerheaddnew {
	text-align: center;
}
.footerul li, .seperatorr, .linkedin {
	text-align: center;
}
.footerbelow4 > div {
	text-align: center;
}
.newsinnerbody {
	font-size: 20px;
}
.InnerleftContentSection {
	width: 100%;
	margin-right: 0;
}
.InnerRightContentSection {
	width: 100%;
	margin-right: 0;
}
.bottomheader {
	width: 97%;
}
.imagecontainer .headerImage {
	margin-right: 1.9%;
}
.sidebarmenu {
	border-top: none;
	margin-bottom: 1%;
	margin-top: 5%;
}
.sidebarmenu .headerImage:nth-child(3) {
	margin-right: 2.9%;
}
.fullheadersection .headerSectionPart {
	width: 97%;
}
.projectContiner {
	width: 95%;
	margin-right: 0;
}
.tab_type li {
	margin-top: 3px;
	text-align: center;
	width: 98%;
}
.breadcrumbs_menu li {
	margin-top: 3px;
}


/*---------------balraj-----------------------*/
.cityaddressright{
	margin-right:0px;
	margin-bottom: 10px;
}
.cityaddress {
    float: left;
    width: 100%;
}
.contactnoparent {
    float: left;
    width: 50%;
}
.slidebarcontact{
	padding-bottom:5%;
}
/****balraj end***/

textarea.comntextarea{
    max-width: 99%;
    min-width: 99%;
    width: 99%;
}

.ModelStatistics .colorHeading{
    height:32px;
}
.foote-wrapper{
    background: url("../assets/footerMobile_bg.jpg") repeat scroll left top rgba(0, 0, 0, 0);
}
.inputdiv{
    text-align:center;
}
.contentHeaderSection p {
    font-size: 12px;

}
.ullist li span {
    font-size: 12px;
}
.sidebarmenuheading{
    font-size: 16px;
}
.sidebarmenutypes a{
    font-size: 12px;
    padding-bottom: 2%;
    padding-top: 2%;
}
.sidebarmenutypes a:hover, .activesidebarmenu a{
    padding-bottom: 2%;
    padding-top: 2%;
}
.blacksmall p, .blacklarge p{
    font-size: 14px;
}
.justify-text.careerJustify .pragraph{
    font-size: 12px;
}
.pragraph{
    font-size: 12px;
}
.projectBox.left, .projectBox.right{
       height:auto !important;
}
.projectBox{
          width:91%;
}
.UpperContentSection {
    padding: 0 3%;
    width: 92%;
}
.menuActive a {
    color: #FF7800 !important;
}
.careerparagraph{
    font-size: 12px;
}
.contentHeaderSection p.nojustify{
    font-size: 12px;
}
.lastpara{
    font-size: 11px;
}
.clientReview.tetimonialmiddle .testi40, .clientReview.tetimonialmiddle .testi80{
            text-align: left;
    font-size: 11px;
}



/*Ganesh */

.inner_testimonial {
    display: block;
}
.inner_testimonial.inner_testimonial_mobile {
    display: block;
}
.inner_testimonial.inner_testimonial_mobile .imageright {
    float: right;
}
.inner_testimonial.inner_testimonial_mobile .testi80 {
    margin-left: 9%;
    width: 82%;
    line-height: 15px;
}
.thumbhover{
    bottom: 20px;
    left: 8px;
}
div.popupopen.reveal-modal {
    left: 93%;
    width: 50%;
}
.ContentDetail {

    width: 100%;
}
.Client{
    width: 94%;
}

.right-menu-toggle {
    display: block;
}
.sidebaright {
    display: none;
    position: absolute;
    left: 4px;
    width: 85%;
    margin-top: -7px;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
}
.sidebarmenu {
    margin-top: 0;
}

.image-maps-wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100% !important;
}
.headerImage .image-maps-wrapper img {
    float: none;
    height: auto !important;
    margin: 0 auto;
    max-width: 100% !important;
    /*width: 320px !important;*/
}
.projectContiner .headerTittle {
    min-height: inherit;
}
.leftrightContainer .projectContiner {
    padding-top: 20px;
    padding-bottom: 20px;
}
.video-embed-wrapper {
    clear: both;
    float: left;
    text-align: center;
    width: 100%;
}
.video-embed-wrapper iframe {
    float: none;
    margin: 0 auto;
    max-width: 100%;
    width: 320px;
}
.pre_desktop_view {
    display: none;
}
.pre_mobile_view {
  display: block;
}
.sidebarmenuheading {
    margin-top: 0;
    margin-bottom: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.leftrightContainer .imagecontainer .headerImage.BorderNone {
    clear: both;
    float: left;
    margin: 7px 0 !important;
    text-align: center;
    width: 100%;
}
.leftrightContainer .imagecontainer .headerImage.BorderNone img {
    float: none;
    width: auto;
}
.headerSectionPart img {
    display: none; /* Removed bullet point in Mobile view to avoid alignemnt issue */
}
.tab_searchContainer .tab_search .tablist .ullist.utab {
    width: 90%;
}
.tab .tab_type li {
    font-size: 13px;
}
.site_map_boxes{
    width:100%;
}

.biggerparagraph{
    font-size: 12px;
}

.ImageTitle{
    width: 100%;
}
.innerbanner img.InnerBnannerImages {
    float: left;
    height:auto !important;
    width: 100%;
}



@media (min-width:320px) and (max-width:360px) {
    .innerbanner {
        background: url(../assets/inside_banner_bg_360.jpg) no-repeat top center;
        width: 100%;
        height: 125px;
    }
    .innerbannerZenith {
        background: url(../assets/inside_banner_zenith_bg_360.jpg) no-repeat top center;
        width: 100%;
        height: 125px;
    }
    .thumbhover{
        bottom: 29px;
        left: 8px;
    }
    .rightnewstitle {
    bottom: 32px;
    margin-bottom: 10px;
    height: 41px;
}
}

@media (min-width:360px) and (max-width:420px) {
    .rightnewstitle {
        bottom: 36px;
    }
    .InnerPlainbgRight {
        top: -52px;
    }
}

@media (min-width:250px) and (max-width:320px) {
   .innerbanner {
        background: url(../assets/inside_banner_bg_320.jpg) no-repeat top center;
        width: 100%;
        height: 125px;
    }
    .innerbannerZenith {
        background: url(../assets/inside_banner_zenith_bg_320.jpg) no-repeat top center;
        width: 100%;
        height: 125px;
    }
    div.popupopen.reveal-modal {
        left: 101%;
        width: 54%;
    }
    .thumbhover{
        bottom: 29px;
        left: 8px;
    }
    .rightnewstitle {
        bottom: 32px;
        margin-bottom: 10px;
        height: 41px;
    }
    
}
@media (min-width:300px) and (max-width:340px) {
    .gray-newsletter {
        margin: 5px 0 0 -4px;
    }
}


