
<div class="banner-wrapper">
  <div class="innerbanner"> </div>
</div>





<div class="mainContent-wrapper">
  <div class="main-wrapper-fixed contentwrapper">
    <div class="contentfulll">
      <div class="contentsection">
        <div class="breadcrumbs_menu">
          <ul class="breadcrumbul">
            <li><a href="/">Home</a>
            </li>
            <li><a href="/zenith">Zenith Transport Models</a>
            </li>
            <li><strong>Licensing</strong>
            </li>
          </ul>

          <hr class="horizontalLine" />
        </div>
        <div class="UpperContentSection BorderNone">
          <div class="contentheading">Licensing Zenith</div>
          <div class="leftrightContainer">

            <p>The Zenith model can be licensed by Government, business, academic institutions and individuals. Zenith licenses can be customised to meet the unique needs of each client. Licences generally include updates to the software and model data, and on-going user support. For more information, make an enquiry.</p>

          </div>
        </div>
        <div class="UpperContentSection">
          <div class="subcontentheading">When you license Zenith</div>
          <div class="leftrightContainer">

            <p>Zenith is available under license for use as a multi modal model or as a traffic assignment model. Aside from the benefits these models offer to users, licensing has many other advantages for the industry.</p>

            <ul class="ullist">
              <li><span>increasing sharing of knowledge</span>
              </li>
              <li><span>greater competition in modelling services</span>
              </li>
              <li><span>increased transparency and consistency in modelling</span>
              </li>
              <li><span>accelerated development of new modelling functionality</span>
              </li>
              <li><span>more cost-effective and timely delivery of models on major planning projects</span>
              </li>
              <li><span>expansion of the travel modelling skill base in Australia</span>
              </li>
            </ul>

          </div>
        </div>

        <div class="UpperContentSection BorderNone">
          <div class="leftrightContainer">

            <p><strong>When you license Zenith you get</strong>
            </p>

            <ul class="ullist">
              <li><span>A complete and up to date road network for your licensed area</span>
              </li>
              <li><span>A complete and up to date public transport network for your licensed area</span>
              </li>
              <li><span>A well configured environment for running model simulations and visualising the results</span>
              </li>
              <li><span>A complete suite of Ruby tools to perform everything from assignment to matrix sectorisation</span>
              </li>
              <li><span>Comprehensive documentation of both the technical detail and the practical application of the model</span>
              </li>
              <li><span>Responsive support via phone or email</span>
              </li>
            </ul>

          </div>
        </div>


        <div class="UpperContentSection">
          <div class="leftrightContainer">
            <div class="leftContentSection">
              <div class="headerSection">

                <div class="headerSectionPart">
                  <img src="../assets/headericon.jpg" alt="Icon" />
                  <p>Licensing Individual Organisations vs <br /> Collection of Organisations</p>

                </div>

                <div class="contentHeaderSection">
                  <p>Each oraganisation interested in licensing Zenith can have separate contracts, payment structure and licences. Alternatively, an overriding contract and payment structure that covers all interested organisation can be drafted.</p>
                </div>
              </div>
            </div>
            <div class="RightContentSection">
              <div class="headerSection">

                <div class="headerSectionPart">
                  <img src="../assets/headericon.jpg" alt="Icon" />
                  <p>Consultants</p>

                </div>

                <div class="contentHeaderSection">
                  <p>It is important for consultants working for government to have access to Zenith. VLC offers alternative approaches to empower consultants:</p>

                  <ul class="ullist">
                    <li><span>Consultants license Zenith directly for their own use</span>
                    </li>
                    <li><span>Government license covers consultant use of model</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="leftrightContainer">
            <div class="leftContentSection">
              <div class="headerSection">

                <div class="headerSectionPart">
                  <img src="../assets/headericon.jpg" alt="Icon" />
                  <p>Additional Services</p>

                </div>

                <div class="contentHeaderSection">
                  <p>Models do not live in a vacuum. At regular intervals, they require updating. Updating demographics, land use and transportation networks are a part of regular updates. However, there are some updates that are beyond the scope of regular updates, and require vigorous recalibration. Terms for vigorous recalibration can be negotiated, as the need arises.</p>
                </div>
              </div>
            </div>
            <div class="RightContentSection">
              <div class="headerSection">

                <div class="headerSectionPart">
                  <img src="../assets/headericon.jpg" alt="Icon" />
                  <p>Expanding Capabilities</p>

                </div>

                <div class="contentHeaderSection">
                  <p>VLC has a model development programme aimed at meeting the growing needs of the transport planning industry. This programme includes:</p>

                  <ul class="ullist">
                    <li><span>Junction modelling with Zenith</span>
                    </li>
                    <li><span>CBD parking supply constraints and parking charges</span>
                    </li>
                    <li><span>Parallel processing to improve model execution times</span>
                    </li>
                    <li><span>Dynamic modelling of road and public transport performance</span>
                    </li>
                    <li><span>Departure time choice</span>
                    </li>
                    <li><span>Public transport system capacity constraints</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebaright">
        <div class="sidebarmenu">
          <div class="sidebarmenuheading">
            <h1>Zenith Transport Models</h1>
          </div>
          <div class="sidebarmenutypes">
            <a class="active" href="/zenith">Overview</a>
          </div>
          <div class="sidebarmenutypes activesidebarmenu">
            <a href="whatsnew">What’s New</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="features">Features</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="markets">Markets</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="projects">Projects</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="documentation">Documentation</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="licensing">Licensing</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="trafficestimates">Traffic Estimates</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="randd">R&amp;D</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="support">Support</a>
          </div>
        </div>
        <div class="sidebarmenu">
          <div class="greyBoxTextArea">
            <div class="greyBoxHeading">How to get Zenith</div>
            <div class="greyBoxParagraph">The Zenith Models are available for use under both commercial and academic licenses. Veitch Lister Consulting also offer consulting services to support your use of Zenith, contact us for more details</div>
            <div class="greyBoxContact">P +61 (7) 3870 4888</div>
            <div class="greyBoxContact">Zenith@VeitchLister.com.au</div>
          </div>
        </div>

        <div class="sidebarmenu">
          <div class="greyBoxTextArea">
            <div class="greyBoxHeading">Licensing Support</div>
            <div class="greyBoxParagraph">
              <p>Support of Zenith covers live support (available Monday - Friday, 9.00 - 17.00, AEST):</p>
              <br /><p>Email:&#160;support@veitchlister.com.au</p>
              <p>Telephone Hotline: +61 7 3870 4888</p>
              <br /><p>Initial training in Zenith and accreditation of users</p>
              <br /><p>As well as access resources such as Tutorials and User Guides</p>
              <br /><p>VLC recommends required accreditation for each user of Zenith. This would require successfully completing an initial training course, and would be covered by the support costs.</p>
            </div>

          </div>
        </div>

        <div class="sidebarmenu">
          <div class="greyBoxTextArea">
            <div class="greyBoxHeading">Licensing Clients</div>
            <div class="greyBoxParagraph">
										Zenith is available to organizations outside VLC under a licensing arrangement. Current clients for this arrangement include the Victorian State Government, the South Coast Region of the Department of Transport and Main Roads (Queensland), the University of Sydney and the University of Seoul.
            </div>

          </div>
        </div>

        <div class="testimonial_right">
        </div>

      </div>
    </div>
  </div>
</div>
