

<div class="banner-wrapper">
  <div class="innerbanner"> </div>
</div>





<div class="mainContent-wrapper">
  <div class="main-wrapper-fixed contentwrapper">
    <div class="contentfulll">
      <div class="contentsection">
        <div class="breadcrumbs_menu">
          <ul class="breadcrumbul">
            <li><a href="/">Home</a>
            </li>
            <li><a href="/company">Company</a>
            </li>
            <li><strong>Careers</strong>
            </li>
          </ul>
          <hr class="horizontalLine" />
        </div>
        <div class="UpperContentSection">
          <div class="contentheading">Join the VLC team</div>
          <p class="careerparagraph">VLC is a leading transport planning and model development firm working on Australia's high-profile projects.</p>
          <p class="pragraph">VLC employees are passionate about producing quality results, from transport planning projects to well calibrated multi-modal models. VLC offers excellent employment opportunities in a values-based company. </p>
          <p class="pragraph padbot">Work alongside some of industry's leaders in transport planning and engineering.</p>
          <div class="leftrightContainer">
            <div class="leftContentSection">
              <div class="headerSection">
                <div class="headerSectionPart"> <img src="../assets/headericon.jpg" alt="Icon" />
                  <p>Employment Enquiry</p>
                </div>
                <div class="contentHeaderSection contentHeaderSections">
                  <p>As one of Australia's premier transport planning consultancies, Veitch Lister Consulting has exciting opportunities for talented and motivated people at all stages of their careers.</p>
                  <p>We are a highly motivated team, looking for people passionate about transportation, IT and mathematics.</p>
                  <p class="nojustify">Send your CV and academic transcript to<a href="mailto:recruitment@veitchlister.com.au">recruitment@veitchlister.com.au</a>, <br>and further your career at Veitch Lister Consulting.</p>
                </div>
              </div>
            </div>
            <div class="RightContentSection">
              <div class="headerSection">
                <div class="headerSectionPart"> <img src="../assets/headericon.jpg" alt="Icon" />
                  <p>Student Employment</p>
                </div>
                <div class="contentHeaderSection">
                  <p>As one of Australia's premier transport planning consultancies, Veitch Lister Consulting has exciting opportunities for talented and motivated students. VLC has a long history of creating employment opportunities for students in areas that pertain to their studies.</p>
                </div>
              </div>
              <!-- <div class="arrowicon"><img src="../assets/tarrow.png" alt="Icon" /></div>
               <div class="testimonial_right">
                 <div class="inner_testimonial">
                   <div class="imagedivv">
                     <img src="../assets/rightcomma.png" alt="Testimonials" />
                   </div>
                   <div class="testi80">I worked on projects which tested my </div>
                   <div class="testi60">problem solving skills and gave </div>
                   <div class="testi80"> me experience in applying them to the </div>
                   <div class="lastdiv"> <span class="testi40">the real world. </span> <span class="imageright"><img src="../assets/leftcomma.png" alt="Testimonials" /></span>
                   </div>
                   <div class="givenby"> <a href="#" class="whats-orange">Robert Kerr</a> </div>
                   <div class="lastpara">Bachelor of Mechanical Engineerig and Science, University of Queensland.</div>
                 </div>
               </div>-->
            </div>
          </div>
          <div class="leftrightContainer">
            <div class="arrowicon"><img src="../../assets/tarrow.png"  alt="Icon"/></div>
            <div class="testimonial_right clientReview tetimonialmiddle">
              <div class="inner_testimonial">
                <div class="imagedivv">
                  <img src="../../assets/rightcomma.png" alt="Testimonials"/>
                </div>
                <div class="testi80">I worked on projects which tested my problem solving skills and gave me</div>
                <div class="lastdiv"> <span class="testi40">experience in applying them to the the real world. </span> <span class="imageright"><img src="../../assets/leftcomma.png" alt="Testimonials" /></span></div>
                <div class="givenby"> <a href="#" class="whats-orange">Robert Kerr</a> </div>
                <div class="lastpara">Bachelor of Mechanical Engineerig and Science, University of Queensland.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebaright">
        <div class="sidebarmenu">
          <div class="sidebarmenuheading">
            <h1>Company</h1>
          </div>
          <div class="sidebarmenutypes"> <a class="active" href="/company">Overview</a> </div>
          <div class="sidebarmenutypes"> <a href="history">History</a> </div>
          <div class="sidebarmenutypes"> <a href="customers">Customers</a> </div>
          <div class="sidebarmenutypes activesidebarmenu"> <a href="careers">Careers</a> </div>
        </div>
        <div class="sidebarmenu">
          <div class="sidebarmenuheading">
            <h1>Current Opportunities</h1>
          </div>
          <div class="sidebarmenutypes"> <a class="active" href="/company/careers/current_opportunities">Principal Transport Planner</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>


