<div class="banner-wrapper">
  <div class="innerbanner"> </div>
</div>
<!-- Responsive slider - END -->

<!--slideshow banner ends-->

<!--mainContent ends here-->
<div class="mainContent-wrapper">
  <div class="main-wrapper-fixed contentwrapper" >
    <div class="contentfulll">
      <div class="contentsection">
        <div class="breadcrumbs_menu">
          <ul class="breadcrumbul">
            <li><a href="/">Home</a></li>
            <li><a href="/company">Company</a></li>
            <li><strong>History</strong></li>
          </ul>
          <hr class="horizontalLine"/>
        </div>
        <div class="UpperContentSection">
          <div class="contentheading">Outdoor Audience Measurement Accuracy</div>
          <div class="leftrightContainer">
            <div class="leftContentSection">
              <div class="ContentImage">
                <img alt="test" src="../../assets/overview.jpg"/>
              </div>
            </div>
            <div class="RightContentSection">
              <div class="search">Since 1986</div>
              <p> VLC consultants pride themselves of producing work of the highest possible quality. This means having the experience to provide solution that are pragmatic, and meet the unique needs of each client. It also means being prepared to 'get your hands dirty' by spending time on the ground.</p>
            </div>
          </div>
        </div>
        <div class="UpperContentSection">
          <div class="subcontentheading">VLC offers variety of transport related consulting services.</div>
          <div class="leftrightContainer">
            <div class="projectBoxContainer">
              <div class="projectBox left">

                <div class="headerImage">
                  <img src="../../assets/blank_img.jpg" alt="test"/>
                </div>
                <div class="ImageTitle">Mike Veitch <br><span>Founder &amp; CEO</span></div>
                <div class="contentHeaderSection">
                  <p> Mike has 30 years of experience in the transport field - including 20 years as a consultant, four years as Head of Planning and Research with the Metropolitan Transit Authority (Brisbane) and three years as the Senior Transport Planner, Transport Department, Hong Kong.</p>
                  <p>Mike has also managed major urban transportation planning studies throughout Australia, in Asia and the UK. His experience relates to all areas of transport planning.Mike was the developer of VLC's first generation of Zenith, in response to a growing need for a fully integrated, multi-modal transport model to address complex urban and regional planning issues.</p>
                </div>
              </div>
              <div class="projectBox right">

                <div class="headerImage">
                  <img src="../../assets/blank_img.jpg" alt="test"/>
                </div>
                <div class="ImageTitle">John Morris <br><span>Principle Transport Planner</span></div>
                <div class="contentHeaderSection">
                  <p> John Morris has a Bachelor’s Degree in Civil Engineering from Queensland University of Technology.  He is a Principal Transport Planner with 18 years experience in the analysis of demand and feasibility for a broad range of transport infrastructure projects.  John has specialist expertise in transport modelling and the application of analytical techniques in the analysis of travel behavior and the evaluation of land use and transport systems policies.</p>
                </div>
              </div>
            </div>
            <div class="projectBoxContainer">
              <div class="projectBox left">

                <div class="headerImage">
                  <img src="../../assets/blank_img.jpg" alt="test"/>
                </div>
                <div class="ImageTitle">Aaron Alaimo<br><span>Principal Transport Planner, <br>Melbourne Office Manger</span></div>
                <div class="contentHeaderSection">
                  <p>Aaron has over 10 years experience in transport modelling and consultancy, specialising in transport planning and strategic demand forecasting of transport infrastructure and developments in Australia and the United Kingdom.</p>
                </div>
              </div>
              <div class="projectBox right">

                <div class="headerImage">
                  <img src="../../assets/blank_img.jpg" alt="test"/>
                </div>
                <div class="ImageTitle">Chris Turvey<br><span>Senior Transport Analyst</span></div>
                <div class="contentHeaderSection">
                  <p>Chris has over 30 years of experience in Australia and overseas. This experience has been gained in both the private and public sectors, and includes extensive application of a wide range of transport related software packages.</p>
                </div>
              </div>
            </div>
            <div class="projectBoxContainer">
              <div class="projectBox left">

                <div class="headerImage">
                  <img src="../../assets/blank_img.jpg" alt="test"/>
                </div>
                <div class="ImageTitle">Gary Hunter<br><span>Principal Transport <br>Engineer</span></div>
                <div class="contentHeaderSection">
                  <p>Gary has over 30 years of experience in transport infrastructure, from planning to design, through construction to operational management. This experience has been gained through a mix of state and local government, and consultancy employment in New Zealand, Australia and Hong Kong.</p>
                </div>
              </div>
              <div class="projectBox right">

                <div class="headerImage">
                  <img src="../../assets/blank_img.jpg" alt="test"/>
                </div>
                <div class="ImageTitle">Tim Veitch <br><span>Research &amp; <br>Development Manager</span></div>
                <div class="contentHeaderSection">
                  <p>Tim Veitch has over 5 years of experience in developing travel models in Australian cities. His skills include:</p>
                  <p>The specification and estimation of mathematical models of travel, including discrete choice models of destination choice, mode choice, and choice of tolled and untolled routes</p>
                  <p>Software development for travel modelling.  Tim has developed software for all aspects of the travel modelling process, including trip generation, distribution, mode choice, traffic assignment and transit assignment</p>
                  <p>Tim’s transport modelling experience includes toll road modelling, public transport modelling, and micro-simulation.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebaright">
        <div class="sidebarmenu">
          <div class="sidebarmenuheading">
            <h1>Company</h1>
          </div>
          <div class="sidebarmenutypes"> <a class="active" href="/company">Overview</a> </div>
          <div class="sidebarmenutypes activesidebarmenu"> <a href="/comapny/history">History</a> </div>
          <div class="sidebarmenutypes"> <a href="/company/customers">Customers</a> </div>
          <div class="sidebarmenutypes"> <a href="/company/careers">Careers</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>