
<!--slideshow banner-->
<div class="banner-wrapper">
  <div class="innerbanner"> </div>
</div>
<!-- Responsive slider - END -->

<!--slideshow banner ends-->

<!--mainContent ends here-->
<div class="mainContent-wrapper">
  <div class="main-wrapper-fixed contentwrapper" >
    <div class="contentfulll">
      <div class="contentsection">
        <div class="breadcrumbs_menu">
          <ul class="breadcrumbul">
            <li><a href="/">Home</a></li>
            <li><a href="/zenith">Zenith Transport Models</a></li>
            <li><a href="/zenith/markets">Market</a></li>
            <li><strong>ACT and Surrounds</strong></li>
          </ul>

          <hr class="horizontalLine">
        </div>
        <div class="UpperContentSection BorderNone">
          <div class="contentheading">What is Zenith?</div>
          <div class="leftrightContainer">
            <p>We have developed strategic transport models of every major Australian city. The Zenith model covers more than 80% of the Australian population. Flip through the markets to get a taste of the magnitude of the Zenith Travel Models.</p>
            <div class="headerImage BorderNone">
              <img src="../../assets/zenith.jpg"  alt="test"/>
            </div>
          </div>
        </div>
        <div class="UpperContentSection BorderNone">

          <div class="leftrightContainer">
            <div class="leftContentSection">
              <div class="headerSection">
                <div class="downloadBrochure">
                  <a href="#">Click here for the Zenith model of the ACT and Surrounds brochure</a>
                </div>
              </div>
            </div>
            <div class="RightContentSection">
              <div class="headerSection">

                <div class="headerSectionPart">
                  <img src="../../assets/headericon.jpg"  alt="Icon"/>
                  <p>How to get Zenith</p>

                </div>

                <div class="contentHeaderSection">
                  <p>The Zenith Models are available for use under both commercial and academic licenses. Veitch Lister Consulting also offer consulting services to support your use of Zenith, contact us for more details P +61 (7) 3870 4888 <a href="mailto:Zenith@VeitchLister.com.au"> Zenith@VeitchLister.com.au</a></p>
                </div>
              </div>
            </div>


          </div>
          <div class="subcontentheading">Model Statistics</div>
          <div class="leftrightContainer">
            <div class="ModelStatistics">
              <div class="colorHeading">
                <p>Years</p>
              </div>
              <div class="blankHeading">
                <p>2011</p>
              </div>
            </div>

            <div class="ModelStatistics">
              <div class="colorHeading">
                <p>Links</p>
              </div>
              <div class="blankHeading">
                <p>31,000 1 WAY</p>
              </div>
            </div>
            <div class="ModelStatistics">
              <div class="colorHeading">
                <p>Road Length</p>
              </div>
              <div class="blankHeading">
                <p>5,600 Kms</p>
              </div>
            </div>
            <div class="ModelStatistics">
              <div class="colorHeading">
                <p>Standard Modal Transport Zones</p>
              </div>
              <div class="blankHeading">
                <p>4,700+</p>
              </div>
            </div>

            <div class="ModelStatistics">
              <div class="colorHeading">
                <p>Small Area Zones</p>
              </div>
              <div class="blankHeading">
                <p>7,200</p>
              </div>
            </div>
            <div class="ModelStatistics">
              <div class="colorHeading">
                <p>Area Covered</p>
              </div>
              <div class="blankHeading">
                <p>519 sq Km</p>
              </div>
            </div>
            <div class="ModelStatistics">
              <div class="colorHeading">
                <p>Modelled Area Population(2011)</p>
              </div>
              <div class="blankHeading">
                <p>426,000</p>
              </div>
            </div>
            <div class="ModelStatistics">
              <div class="colorHeading">
                <p>Modelled Area Employment(2011)</p>
              </div>
              <div class="blankHeading">
                <p>233,000</p>
              </div>
            </div>
            <div class="ModelStatistics">
              <div class="colorHeading">
                <p>Number of LGAs Covered by Model</p>
              </div>
              <div class="blankHeading">
                <p>6</p>
              </div>
            </div>
            <div class="ModelStatistics">
              <div class="colorHeading">
                <p>Public Transport Modes Modelled</p>
              </div>
              <div class="blankHeading">
                <p>Bus</p>
              </div>
            </div>
            <div class="ModelStatistics">
              <div class="colorHeading">
                <p>Public Transport Routes</p>
              </div>
              <div class="blankHeading">
                <p>290</p>
              </div>
            </div>
            <div class="ModelStatistics">
              <div class="colorHeading">
                <p>Public Transport Stops</p>
              </div>
              <div class="blankHeading">
                <p>1,600</p>
              </div>
            </div>
            <div class="ModelStatistics">
              <div class="colorHeading">
                <p>Other Modes Modelled</p>
              </div>
              <div class="blankHeading">
                <p>Walk, BiCycle, Car, Commercial Vehicle</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebaright">
        <div class="sidebarmenu">
          <div class="sidebarmenuheading">
            <h1>Zenith Transport Models</h1>
          </div>
          <div class="sidebarmenutypes">
            <a class="active" href="/zenith">Overview</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="/zenith/whatsnew">What’s New</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="/zenith/features">Features</a>
          </div>
          <div class="sidebarmenutypes activesidebarmenu marginBottomZero">
            <a href="/zenith/markets">Markets</a>
          </div>
          <div class="sidebarmenutypes activesidebarmenu marginBottomZero subSideMenu">
            <a href="/zenith/markets/victoria">Victoria</a>
          </div>
          <div class="sidebarmenutypes activesidebarmenu marginBottomZero subSideMenu">
            <a href="/zenith/markets/sydney">Sydney</a>
          </div>
          <div class="sidebarmenutypes activesidebarmenu marginBottomZero subSideMenu">
            <a href="/zenith/markets/seq">Southeast Queensland</a>
          </div>
          <div class="sidebarmenutypes activesidebarmenu marginBottomZero subSideMenu">
            <a href="/zenith/markets/adelaide">Adelaide</a>
          </div>
          <div class="sidebarmenutypes activesidebarmenu marginBottomZero subSideMenu">
            <a href="/zenith/markets/perth">Perth</a>
          </div>
          <div class="sidebarmenutypes activesidebarmenu marginBottomZero subSideMenu">
            <a href="/zenith/markets/nq">North Queensland</a>
          </div>
          <div class="sidebarmenutypes activesidebarmenu marginBottomZero subSideMenu activesubSidemenu">
            <a href="/zenith/act">ACT and Surrounds</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="/zenith/projects">Projects</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="/zenith/documentation">Documentation</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="/zenith/licensing">Licensing</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="/zenith/trafficestimates">Traffic Estimates</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="/zenith/randd">R&D</a>
          </div>
          <div class="sidebarmenutypes">
            <a href="/zenith/support">Support</a>
          </div>
        </div>
        <div class="testimonial_right">

        </div>
        <!--  <div class="plainbgright">
        <div class="rightnewstitle">
            <div class="newsinnerbody"> News </div>
        </div>
        <div class="InnerPlainbgRight">
                        	<div class="NewsContiner">
                            	<div class="NewsContent">
                                	<h1 class="NewsHeading">Setting the Record Straight</h1>
                    <h2 class="NewsSubHeading">by VLC on 8 November 2013</h2>
                    <p>Over the past several months, a number of claims have been made in relation to VLC's transport modelling for the East West Link, most notably by former VicRoads officer, Doug Harley. VLC would like to take this opportunity to set the record straight.</p>
                </div>
                <div class="NewsContent BorderNone">
                                	<h1 class="NewsHeading">Setting the Record Straight</h1>
                    <h2 class="NewsSubHeading">by VLC on 8 November 2013</h2>
                    <p>VLC have a booth at the 2013 ARTF national conference with Tim Veitch James Partridge and Tomas Potesil presenting papers. VLC have a booth at the 2013 ATRF national conference with Tim Veitch, James Partridge.</p>
                </div>
                <div class="MoreNews">
                    <a class="more-gray" href="javascript:void(0)">more</a>
                    <a class="whats-orange" href="javascript:void(0)"><img src="assets/images/morearrow.png" alt="More"/></a>
                </div>
            </div>
        </div>
      </div>-->
      </div>
    </div>
  </div>
</div>
<!--mainContent ends here-->
