<div class="banner-wrapper">
  <div class="innerbanner"> </div>
</div>
<!-- Responsive slider - END -->

<!--slideshow banner ends-->

<!--mainContent ends here-->
<div class="mainContent-wrapper">
  <div class="main-wrapper-fixed contentwrapper" >
    <div class="contentfulll">
      <div class="contentsection">
        <div class="breadcrumbs_menu">
          <ul class="breadcrumbul">
            <li><a href="/">Home</a></li>
            <li><a href="/comapany">Company</a></li>
            <li><strong>Customers</strong></li>
          </ul>

          <hr class="horizontalLine"/>
        </div>
        <div class="UpperContentSection BorderNone">
          <div class="contentheading">VLC Customers</div>
          <p>We're proud to offer transport and data related services to these and all of our customers.</p>
          <div class="leftrightContainer">
            <div class="cutomerrow">
              <img src="../assets/oma.jpg" alt="OMA"/>
            </div>
            <div class="cutomerrow">
              <img src="../assets/citylink.jpg" alt="OMA"/>
            </div>
            <div class="cutomerrow">
              <img src="../assets/pt.jpg" alt="OMA"/>
            </div>
            <div class="cutomerrow">
              <img src="../assets/vicroads.jpg" alt="OMA"/>
            </div>
            <div class="cutomerrow">
              <img src="../assets/Austgov.jpg" alt="OMA"/>
            </div>
            <div class="cutomerrow">
              <img src="../assets/victoria.jpg" alt="OMA"/>
            </div>
            <div class="cutomerrow">
              <img src="../assets/parmalat.jpg" alt="OMA"/>
            </div>
            <div class="cutomerrow">
              <img src="../assets/brisbanecity.jpg" alt="OMA"/>
            </div>
          </div>
          <div class="contentheading">Glowing review from client</div>
          <div class="leftrightContainer">
            <div class="testimonial_right clientReview">
              <div class="headerImage">
                <img alt="test" src="../assets/blank_img02.jpg"/>
              </div>
              <div class="inner_testimonial">
                <div class="imagedivv">
                  <img src="../assets/rightcomma.png" alt="Testimonials"/>
                </div>
                <div class="testi80">I like the idea of a transport modelling  </div>
                <div class="testi60">consultant whose competitive</div>
                <div class="testi80">advantage lies in the superiority of its   </div>
                <div class="lastdiv"> <span class="testi40">forecasting technology. </span> <span class="imageright"><img src="../assets/leftcomma.png" alt="Testimonials" /></span></div>
                <div class="givenby"> <a href="#" class="whats-orange"> Alan Davis, Crikey</a> </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="sidebaright">
        <div class="sidebarmenu">
          <div class="sidebarmenuheading">
            <h1>Company</h1>
          </div>
          <div class="sidebarmenutypes"> <a class="active" href="/company">Overview</a> </div>
          <div class="sidebarmenutypes"> <a href="/company/history">History</a> </div>
          <div class="sidebarmenutypes activesidebarmenu"> <a href="/company/customers">Customers</a> </div>
          <div class="sidebarmenutypes"> <a href="/company/careers">Careers</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>
